.container-wrapper{
	background-color: #F6F8FE;
}
.header-items{
	ion-button{
		margin: 0;
		height: 36px;
	}
} 
	
.formWrapper{
	padding: 30px 24px 25px !important;
	.btnWrapper{
		margin-top: 162px !important;
	}
}
.textarea-field{
	height: auto !important;
	ion-input{
		height: 152px !important;
	}
}