<ion-header>
  <div class="header-items">
    <span>Add Item</span>
    <ion-button (click)="close()">Cancel</ion-button>
  </div>
</ion-header>
<div class="container-wrapper" *ngIf="isDisplayReady">
  <div class="formWrapper">
    <div class="fieldWrapper">
      <ion-label>Title</ion-label>
      <div class="inputField">
        <ion-input
          type="text"
          [(ngModel)]="TempActiveItem?.AssetInfo.Title"
          (focus)="selectInput($event)"
          (keyup.enter)="save()"
          placeholder="Enter title"
        ></ion-input>
      </div>
    </div>

    <div class="fieldWrapper">
      <ion-label>Details</ion-label>
      <div class="inputField textarea-field">
        <ion-input
          type="text"
          [(ngModel)]="TempActiveItem?.AssetInfo.Description"
          (focus)="selectInput($event)"
          (keyup.enter)="save()"
          placeholder="Description"
        ></ion-input>
      </div>
    </div>

    <div class="fieldWrapper">
      <ion-label>Price</ion-label>
      <div class="inputField">
        <ion-input
          type="text"
          [(ngModel)]="TempActiveItem?.AssetInfo.Price"
          (focus)="selectInput($event)"
          (keyup.enter)="save()"
          placeholder="Enter pricing"
        ></ion-input>
      </div>
    </div>

    <div class="fieldWrapper">
      <ion-label>Item Number</ion-label>
      <div class="inputField">
        <ion-input
          type="text"
          [(ngModel)]="TempActiveItem?.AssetInfo.ItemNumber"
          (focus)="selectInput($event)"
          (keyup.enter)="save()"
          placeholder="Enter item number"
        ></ion-input>
      </div>
    </div>

    <div class="fieldWrapper">
      <ion-label>Manufacturer</ion-label>
      <div class="inputField">
        <ion-input
          type="text"
          [(ngModel)]="TempActiveItem?.AssetInfo.Manufacturer"
          (focus)="selectInput($event)"
          (keyup.enter)="save()"
          placeholder="Enter manufacturer"
        ></ion-input>
      </div>
    </div>

    <div class="fieldWrapper">
        <ion-label>Make</ion-label>
        <div class="inputField">
          <ion-input
            type="text"
            [(ngModel)]="TempActiveItem?.AssetInfo.Make" (focus)="selectInput($event)" (keyup.enter)="save()"
            placeholder="Enter make"
          ></ion-input>
        </div>
      </div>

      <div class="fieldWrapper">
        <ion-label>Model</ion-label>
        <div class="inputField">
          <ion-input
            type="text"
            [(ngModel)]="TempActiveItem?.AssetInfo.Model" (focus)="selectInput($event)" (keyup.enter)="save()"
            placeholder="Enter model"
          ></ion-input>
        </div>
      </div>

      <div class="fieldWrapper">
        <ion-label>Serial Number</ion-label>
        <div class="inputField">
          <ion-input
            type="text"
            [(ngModel)]="TempActiveItem?.AssetInfo.SerialNumber" (focus)="selectInput($event)" (keyup.enter)="save()"
            placeholder="Enter serial number"
          ></ion-input>
        </div>
      </div>

      <div class="fieldWrapper">
        <ion-label>Size</ion-label>
        <div class="inputField">
          <ion-input
            type="text"
            [(ngModel)]="TempActiveItem?.AssetInfo.Size" (focus)="selectInput($event)" (keyup.enter)="save()"
            placeholder="Enter size"
          ></ion-input>
        </div>
      </div>

      <div class="fieldWrapper">
        <ion-label>Length</ion-label>
        <div class="inputField">
          <ion-input
            type="text"
            [(ngModel)]="TempActiveItem?.AssetInfo.Length" (focus)="selectInput($event)" (keyup.enter)="save()"
            placeholder="Enter length"
          ></ion-input>
        </div>
      </div>

      <div class="fieldWrapper">
        <ion-label>Height</ion-label>
        <div class="inputField">
          <ion-input
            type="text"
            [(ngModel)]="TempActiveItem?.AssetInfo.Height" (focus)="selectInput($event)" (keyup.enter)="save()"
            placeholder="Enter height"
          ></ion-input>
        </div>
      </div>

      <div class="fieldWrapper">
        <ion-label>Depth</ion-label>
        <div class="inputField">
          <ion-input
            type="text"
            [(ngModel)]="TempActiveItem?.AssetInfo.Depth" (focus)="selectInput($event)" (keyup.enter)="save()"
            placeholder="Enter depth"
          ></ion-input>
        </div>
      </div>

      <div class="fieldWrapper">
        <ion-label>Width</ion-label>
        <div class="inputField">
          <ion-input
            type="text"
            [(ngModel)]="TempActiveItem?.AssetInfo.Width" (focus)="selectInput($event)" (keyup.enter)="save()"
            placeholder="Enter width"
          ></ion-input>
        </div>
      </div>

      <div class="fieldWrapper">
        <ion-label>Total Quantity</ion-label>
        <div class="inputField">
          <ion-input
            type="text"
            [(ngModel)]="TempActiveItem?.AssetInfo.TotalQuantity" (focus)="selectInput($event)" (keyup.enter)="save()"
            placeholder="Enter total quantity"
          ></ion-input>
        </div>
      </div>
  
      <div class="fieldWrapper">
        <ion-label>Total Quantity Unit</ion-label>
        <div class="inputField">
          <ion-input
            type="text"
            [(ngModel)]="TempActiveItem?.AssetInfo.TotalQuantityUnit" (focus)="selectInput($event)" (keyup.enter)="save()"
            placeholder="Enter total quantity unit"
          ></ion-input>
        </div>
      </div>
      
      <div class="fieldWrapper">
        <ion-label>Notes</ion-label>
        <div class="inputField textarea-field">
          <ion-input
            type="text"
            [(ngModel)]="TempActiveItem?.AssetInfo.Notes" (keyup.enter)="save()"
            placeholder="Enter notes"
          ></ion-input>
        </div>
      </div>

      <div class="fieldWrapper">
        <ion-label>Color</ion-label>
        <div class="inputField">
          <ion-input
            type="text"
            [(ngModel)]="TempActiveItem?.AssetInfo.Color" (focus)="selectInput($event)" (keyup.enter)="save()"
            placeholder="Enter color"
          ></ion-input>
        </div>
      </div>

    <div class="btnWrapper">
      <ion-button class="continuebtn" (click)="save()">Save</ion-button>
    </div>
  </div>
</div>
