<app-global-spinner [spinnerText]="spinnerText" *ngIf="loadingVisible"></app-global-spinner>
<ion-header>

	<navigation-sub-menu [showBackButton]="true" type="titleMenu" [title]="propertyName+' Overview'"
		*ngIf="propertyName"></navigation-sub-menu>
</ion-header>
<div class="container-wrapper">
	<div class="formWrapper">
		<div class="inner-wrap">
	<div  *ngFor="let p of privatelabelprofileset; let i=index" text-wrap>
		<ng-container *ngIf="p.Bedrooms">
			<ion-row class="area-list" (click)="toogleViews('bedroom')">
				<ion-col size="3">
					<div class="wrap-img">
					<img src="assets/icon/bed-svgrepo-com 1.svg">
					</div>
				</ion-col>
				<ion-col size="7">
					<h1 class="area-header"> {{p.Bedrooms}} <span>Bedrooms</span> </h1>
					<p class="area-header-sqft">{{p.SqFeet}} sq ft</p>
				</ion-col>
				<ion-col size="2">
					<div class="wrap-toggle">
					<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fchevron-down.svg?alt=media&token=80b6d061-a719-4918-bf05-0349eb804852" class="chevron" *ngIf="!bedroomToggle">
					<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fchevron-up.svg?alt=media&token=c5d83c21-e082-458f-9cb0-f6dad8d2fbda" class="chevron" *ngIf="bedroomToggle">
				</div>
				</ion-col>
			</ion-row>
			<div *ngIf="bedroomToggle" class="room-list">
				<div *ngFor="let profileItem of p.Areas; let i = index;" class="DASHBOARD-PROFILE-ITEM-BEDROOMS-{{i}}">
					<div class="profile-items-list">
						
							<ion-text class="profile-item-content-name DASHBOARD-PROFILE-ITEM-BEDROOMS-{{i}} DASHBOARD-PROFILE-ITEM-EXTERIOR-AREAS-{{i}}"
								[ngClass]="{'listSet': profileItem.SqFt > 0, 'listUnset':  profileItem.SqFt == 0 || profileItem.SqFt == null }">
								{{profileItem.Name}}
							</ion-text>
						
					
							<span
								[ngClass]="{'listSet': profileItem.SqFt > 0, 'listUnset':  profileItem.SqFt == 0 || profileItem.SqFt == null }">
								{{profileItem.SqFt}} Sq Ft</span>
						
					</div>
				</div>

				<br>

			</div>
		</ng-container>

		<ng-container *ngIf="p.Bathrooms">
			<ion-row  class="area-list" (click)="toogleViews('bathroom')">
				<ion-col size="3">
					<div class="wrap-img">
					<img src="assets/icon/bathroom-svgrepo-com 1.svg">
				</div>
				</ion-col>
				<ion-col size="7">
					<h1 class="area-header"> {{p.Bathrooms}} <span>Bathrooms</span> </h1>
					<p class="area-header-sqft">{{p.SqFeet}} sq ft</p>
				</ion-col>
				<ion-col size="2">
					<div class="wrap-toggle">
					<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fchevron-down.svg?alt=media&token=80b6d061-a719-4918-bf05-0349eb804852" class="chevron" *ngIf="!bathroomToggle">
					<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fchevron-up.svg?alt=media&token=c5d83c21-e082-458f-9cb0-f6dad8d2fbda" class="chevron" *ngIf="bathroomToggle">
				</div>
				</ion-col>
			</ion-row>
			<div *ngIf="bathroomToggle" class="room-list">
				<div *ngFor="let profileItem of p.Areas; let i = index;" class="DASHBOARD-PROFILE-ITEM-BEDROOMS-{{i}}">
					<div class="profile-items-list">
						
							<ion-text class="profile-item-content-name DASHBOARD-PROFILE-ITEM-BEDROOMS-{{i}} DASHBOARD-PROFILE-ITEM-EXTERIOR-AREAS-{{i}}"
								[ngClass]="{'listSet': profileItem.SqFt > 0, 'listUnset':  profileItem.SqFt == 0 || profileItem.SqFt == null }">
								{{profileItem.Name}}
							</ion-text>
						
					
							<span 
								[ngClass]="{'listSet': profileItem.SqFt > 0, 'listUnset':  profileItem.SqFt == 0 || profileItem.SqFt == null }">
								{{profileItem.SqFt}} Sq Ft</span>
					
				</div>
				</div>

				<br>

			</div>

		</ng-container>
		<ng-container *ngIf="p.InteriorAreas">
			<ion-row class="area-list" (click)="toogleViews('commonArea')">
				<ion-col size="3">
					<div class="wrap-img">
					<img src="assets/icon/Group.svg">
				</div>
				</ion-col>
				<ion-col size="7">
					<h1 class="area-header"> {{p.InteriorAreas}} <span>Interior Areas</span> </h1>
					<p class="area-header-sqft">{{p.SqFeet}} sq ft</p>
				</ion-col>
				<ion-col size="2">
					<div class="wrap-toggle">
					<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fchevron-down.svg?alt=media&token=80b6d061-a719-4918-bf05-0349eb804852" *ngIf="!commonAreaToggle">
					<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fchevron-up.svg?alt=media&token=c5d83c21-e082-458f-9cb0-f6dad8d2fbda" *ngIf="commonAreaToggle">
				</div>
				</ion-col>
			</ion-row>
			<div *ngIf="commonAreaToggle" class="room-list">
				<div *ngFor="let profileItem of p.Areas; let i = index;" class="DASHBOARD-PROFILE-ITEM-BEDROOMS-{{i}}">
					<div class="profile-items-list">
							<ion-text class="profile-item-content-name DASHBOARD-PROFILE-ITEM-BEDROOMS-{{i}} DASHBOARD-PROFILE-ITEM-EXTERIOR-AREAS-{{i}}"
								[ngClass]="{'listSet': profileItem.SqFt > 0, 'listUnset':  profileItem.SqFt == 0 || profileItem.SqFt == null }">
								{{profileItem.Name}}
					</ion-text>
						
							<span 
								[ngClass]="{'listSet': profileItem.SqFt > 0, 'listUnset':  profileItem.SqFt == 0 || profileItem.SqFt == null }">
								{{profileItem.SqFt}} Sq Ft</span>
		
				</div>
				</div>

				<br>

			</div>

		</ng-container>
		<ng-container *ngIf="p.ExteriorAreas">
			<ion-row  class="area-list" (click)="toogleViews('exterior')">
				<ion-col size="3">
					<div class="wrap-img">
					<img src="assets/svgs/solid/warehouse.svg">
				</div>
				</ion-col>
				<ion-col size="7">
					<h1 class="area-header"> {{p.ExteriorAreas}} <span>Exterior Areas</span> </h1>
					<p class="area-header-sqft">{{p.SqFeet}} sq ft</p>
				</ion-col>
				<ion-col size="2">
					<div class="wrap-toggle">
					<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fchevron-down.svg?alt=media&token=80b6d061-a719-4918-bf05-0349eb804852" class="chevron" *ngIf="!exteriorAreaToogle">
					<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fchevron-up.svg?alt=media&token=c5d83c21-e082-458f-9cb0-f6dad8d2fbda" class="chevron" *ngIf="exteriorAreaToogle">
				</div>
				</ion-col>
			</ion-row>
			<div *ngIf="exteriorAreaToogle" class="room-list">
				<div *ngFor="let profileItem of p.Areas; let i = index;" class="DASHBOARD-PROFILE-ITEM-BEDROOMS-{{i}}">
					<div class="profile-items-list">
							<ion-text class="profile-item-content-name DASHBOARD-PROFILE-ITEM-BEDROOMS-{{i}} DASHBOARD-PROFILE-ITEM-EXTERIOR-AREAS-{{i}}"
								[ngClass]="{'listSet': profileItem.SqFt > 0, 'listUnset':  profileItem.SqFt == 0 || profileItem.SqFt == null }">
								{{profileItem.Name}}
					</ion-text>
						
							<span
								[ngClass]="{'listSet': profileItem.SqFt > 0, 'listUnset':  profileItem.SqFt == 0 || profileItem.SqFt == null }">
								{{profileItem.SqFt}} Sq Ft</span>
					</div>
				</div>
				<br>
			</div>

		</ng-container>
	</div>
	<div class="total-sq">
	<span>Total: {{totalSqlFeet}} Sq Ft</span>
      </div>
</div>
</div>
</div>