<ion-header>
	<div class="header-items">
			<span>Attachments</span>
			<ion-button  (click)="close()">Cancel</ion-button>
	</div>
</ion-header>
<ion-content class="ion-padding">
	<ng-container>
		<ng-container>
			<icon-grid [_grid]="data" (_itemClickEventHandler)="attachmentClickEventHandler($event)"></icon-grid>
		</ng-container>
		<ion-fab style="bottom: 3em !important; width: 100% !important;" bottom>
			<div class="attach-item">
				<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fchevron-down.svg?alt=media&token=80b6d061-a719-4918-bf05-0349eb804852" class="down-icon left-down-icon" /> 
				<span>Attach a new item</span>
				<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fchevron-down.svg?alt=media&token=80b6d061-a719-4918-bf05-0349eb804852" class="down-icon right-down-icon" />
			</div>
		</ion-fab>
	</ng-container>
</ion-content>
<tab-menu 
		  (homeEvent)="goHome()"
		  (fileExplorerEvent)="launchFileExplorer()"
		  (cameraEvent)="launchCamera()" 
		  (barcodeEvent)="launchBarcode()" 
		  (bookmarkEvent)="bookmark()"
		  (searchEvent)="search()"></tab-menu>
