.attach-item{
    text-align: center;
    span{
        color: #232C41;
        font-family: Plus Jakarta Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 12.606px;
        letter-spacing: 0.05px;
        padding: 0 24px;
    }
}