.welcome-image {
  position: absolute;
  width: 413px;
  height: 309px;
  left: -6px;
  top: 102px;
}

.page {
  position: relative;
  width: 390px;
  height: 844px;
  background: linear-gradient(147.09deg, #61C0E9 1.35%, #67D1D8 57.71%) !important;
}

:host .page {
  position: relative;
  width: 390px;
  height: 844px;
  background: linear-gradient(147.09deg, #61C0E9 1.35%, #67D1D8 57.71%) !important;
}

.welcome-text {
  position: absolute;
  width: 350px;
  height: 43px;
  left: 20px;
  top: 520px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 47px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.get-started {
  position: absolute;
  width: 349.78px;
  height: 45px;
  left: 20px;
  top: 747px;
  /* True White */

  background: #FFFFFF;
  box-shadow: 0px -2px 20px rgba(24, 36, 41, 0.1);
  border-radius: 7px;
}
