//header with icon

.header-title-with-icon{
	padding: 24px 24px 24px 27px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 66px;
	background-color: #232B42;
	.title-with-img{
		display: flex;
		align-items: center;
		gap: 12px;
		span{
			color: var(--additional-colors-white, #FEFEFE);
			font-family: Plus Jakarta Sans;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 17.522px;
			letter-spacing: 0.1px;
			white-space: nowrap;
		}
	}
	.header-icon{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		span{
			color: var(--additional-colors-white, #FEFEFE);
			text-align: right;
			font-family: Plus Jakarta Sans;
			font-size: 8px;
			font-style: normal;
			font-weight: 500;
			line-height: 13.478px; 
			letter-spacing: 0.04px;
		}
	}
}
.registration-header{
    gap: 57px !important;
}
.formWrapper{
    padding-bottom: 45px !important;
}
.roleWrapper {
    padding: 23px 29px 67px 28px;
    border-radius: 10px;
    background: #FFF;  
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 21px;
    height: auto;
    min-height: calc(100vh - 343px);
	.roles {
    display: flex;
    align-items: flex-start;
    gap: 27px; 
	  ion-checkbox {
      --border-color-checked: #669BBC !important;
      --checkbox-background-checked: #669BBC !important;
      --checkmark-width: 4px;
      --border-color: #212121;
      --border-radius: 4px;
      --border-width: 1.5px !important;
      margin-top: 3px;
	  }
    ion-checkbox::part(container){
      padding: 2px 2px 3px !important;
    }
    ion-checkbox::part(mark){
      stroke-dasharray: 60 !important;
      stroke-dashoffset: 34 !important;
    }
  
	  ion-text {
        color:  #78828A;
        font-family: Plus Jakarta Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0.07px;
		text-align: start;
		text-transform: capitalize;
	  }
	}
  }
  .btnWrapper{
    margin-top: 34px !important;
    gap: 16px !important;
    .save-btn{
        --border-radius: 8px !important;
        --background: #00C566 !important;
    }
  }
