
<app-global-spinner [spinnerText]="spinnerText" *ngIf="loadingVisible"></app-global-spinner>

<ion-header>
	<navigation-sub-menu [showBackButton]="true" type="titleMenu" [title]="propertyName+' Images'" *ngIf="propertyName"></navigation-sub-menu>
</ion-header>
<div class="container-wrapper">
	<div class="formWrapper">
		<div *ngFor="let image of images">
		<div class="item-main" (click)="openDetailModal(image)" >
			<div class="image">
				<img src="{{image.Url}}" />
			</div>
			<div class="item-content">
				<span class="title">{{image.Title}}</span>
				<span class="desc">{{image.Description}}</span>
			</div>
		</div>
	</div>
</div>
</div>