<ion-header style="border-bottom:2px solid whitesmoke !important; background-color: #232B42;">
	<div class="header-title-with-icon" [ngStyle]="isIos && {'margin-top': '1.4em'}">
			<span left (click)="close()">
				<img src="/assets/icon/arrow-left-square.svg" >
			</span>
			<div class="title-with-img">
				<img
					 src="{{Suite16Category.ImageUrl}}">
					<span>{{ProfileItem?.Name}}
				{{Suite16Category.Name}}
			</span>
		</div>
		<span class="empty"></span>
	</div>
</ion-header>
<div class="container-wrapper">
	<div class="formWrapper">
		<div *ngFor="let lineitem of lineitems;" class="room-list">
			<div class="stuff-items" (click)="showItems(lineitem)">
					<ion-text class="profile-item-content-name listSet" >
						{{lineitem.Name}}
					</ion-text>
			</div>
		</div>
	</div>
</div>
<tab-menu  (homeEvent)="goHome()" (fileExplorerEvent)="launchFileExplorer()" (cameraEvent)="launchCamera()" (barcodeEvent)="launchBarcode()" (bookmarkEvent)="bookmark()" (searchEvent)="search()"></tab-menu>
