<ion-header style="border-bottom:2px solid whitesmoke !important;">
	<div class="top-ios-space" *ngIf="platform.is('ios')"></div>
	<div class="registration-header">
		<img src="assets/icon/Arrow - Left Square.svg" (click)="close()">		  
		  <span class="registration-title">
			User Types Manager
		  </span>
		
	  </div>
</ion-header>
<div class="container-wrapper">
	<div class="formWrapper">
		<div class="manager-content" *ngFor="let userType of userTypesAnynomousType; let userIndex = index ">
				<div class="manager-content-title">
					<div >
						<img [src]="getImagePath(userType.Name)">
					</div>
					<ion-text >
						{{userType.Name}}
					</ion-text>
				</div>
				<div class="manager-content-options">
					<ion-text >
						<a *ngIf="userType.IsSubscribed == false" (click)="setup(userType.Id)">Setup</a>
						<a *ngIf="userType.IsSubscribed == true" (click)="manage(userType.Id)">Manage</a>
					</ion-text>
				</div>
		</div>
	</div>
</div>
