<ion-header style="border-bottom:2px solid whitesmoke !important; background-color: #232B42;">
  <div class="header-title-with-icon" [ngStyle]="isIos && {'margin-top': '1.4em'}">
    <span (click)="close()">
      <img src="assets/icon/Arrow - Left Square.svg" />
    </span>
    <span class="title-with-img">
      <span>Role Manager</span>
    </span>
    <div class="header-icon">
    </div>
  </div>
</ion-header>
<div class="container-wrapper">
  <div class="formWrapper">
    <div class="manager-content" *ngFor="let userType of userTypesAnynomousType; let userIndex = index ">
      <div class="manager-content-title">
        <div>
          <img [src]="getImagePath(userType.Name)">
        </div>
        <ion-text>
          {{userType.Name}}
        </ion-text>
      </div>
      <div class="manager-content-options">
        <ion-text>
          <a *ngIf="userType.IsSubscribed == false" (click)="setup(userType.Id)">Setup</a>
          <a *ngIf="userType.IsSubscribed == true" (click)="manage(userType.Id)">Manage</a>
        </ion-text>
      </div>
    </div>
  </div>
</div>
