<ion-accordion-group [multiple]="true">
  <div class="see-wrapper" *ngFor="let c of _grid.Lists; let ListIndex = index">
    <span class="see-section" *ngIf="!c.showAllItems" (click)="toggleSeeAllItemsInList(c)">
      See all
      <img src="assets/icon/caret-right-circle.svg">
    </span>
    <span class="see-section" *ngIf="c.showAllItems" (click)="toggleSeeAllItemsInList(c)">
      See less
      <img src="assets/icon/caret-right-circle.svg">
    </span>
    <ion-accordion class="item-main-wrapper" [value]="c.Name" toggleIcon="assets/icon/chevron-down-circle.svg" toggleIconSlot="start">
      <ion-item slot="header">
        <ion-label class="item-wrapper-heading">{{c.Name}}<span>({{c?.Items.length}})</span></ion-label>

      </ion-item>
      <div *ngIf="c.Name != 'Google Web Links'" slot="content" class="items-main">
        <div *ngFor="let i of c.Items; let index = index">
          <!-- <div > -->
          <div (click)="emit(i, c.Name)" class="item" *ngIf="c.showAllItems || index < 3">
            <img *ngIf="!i.IsTag && (i.IconPath != null && i.IconPath != '')" src="{{i.IconPath}}"
                 class="item-image">
            <img *ngIf="!i.IsTag && (i.IconPath == null || i.IconPath == '') && (i.ImagePath != null && i.ImagePath != '')"
                 src="{{i.ImagePath}}" class="item-image">
            <img *ngIf="i.IsTag"
                 src="https://firebasestorage.googleapis.com/v0/b/itt-content.appspot.com/o/Common%2Fassets%2Fsvgs%2Fregular%2Ftag.svg?alt=media&token=ab9fee51-2ffc-47f9-97d8-2be5ed9ccd9a"
                 class="item-image">
             <img *ngIf="!i.IsTag && (i.IconPath == null || i.IconPath == '') && (i.ImagePath == null || i.ImagePath == '')" class="item-image"
                 src="{{dafaultImage}}">
            <span class="item-title">{{i.Name}}</span>
          </div>
          <!-- </div> -->
        </div>
      </div>
      <div *ngIf="c.Name == 'Google Web Links'" class="items-main">
        <div *ngFor="let i of c.Items;" class="item">

          <div (click)="emit(i, c.Name)">
            <img *ngIf="i.IconPath != null && i.IconPath != ''" src="{{i.IconPath}}" class="item-icon">
            <img *ngIf="(i.IconPath == null || i.IconPath == '') && i.ImagePath != null && i.ImagePath != ''"
                 src="{{i.ImagePath}}" class="item-image">
            <img *ngIf="(i.IconPath == null || i.IconPath == '') && (i.ImagePath == null || i.ImagePath == '')" class="item-image"
                 src="{{dafaultImage}}">
            <span class="item-title">{{i.Name}}</span>
            <hr />
          </div>
        </div>
      </div>
    </ion-accordion>
  </div>

</ion-accordion-group>




