<ion-header>
  <div class="header">
    <span (click)="goBack()">
      <img src="/assets/icon/Arrow - Left Square.svg" alt="" />
    </span>
    <span class="headerTitle backtitle" (click)="goBack()"> Back </span>
  </div>
</ion-header>

<div class="container-wrapper">
  <div class="formWrapper">
    <div class="formTitle">
      <ion-text>Good work! Now lets set up your bedrooms.</ion-text>
    </div>

    <ion-row class="underLine">
      <ion-col size="12" *ngFor="let bedroom of bedRooms">
        <div class="fieldWrapper">
          <ion-label>{{bedroom.Name}}</ion-label>
          <app-number-input [(value)]="bedroom.Quantity"></app-number-input>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="btnWrapper">
    <ion-button class="continuebtn" (click)="continue()">
      Continue</ion-button
    >
  </div>
</div>
