<ion-header style="background-color: #232B42;">
  <div class="header-title-with-icon" [ngStyle]="isIos && {'margin-top': '1.4em'}">
    <span>
      <img _ngcontent-ng-c558513586="" src="/assets/icon/Arrow - Left Square.svg" (click)="close()">
    </span>
    <span class="title-with-img">
      <span *ngIf="!isHideSegments">{{LineItem.Name | slice:0:30}}</span>
      <span *ngIf="isHideSegments">{{ProfileItem.Name | slice:0:30}}</span>
    </span>
    <!-- <ion-col size="3"> -->
    <div class="header-icon">
      <img src="assets/icon/building-fill.svg"
           width="24" height="24" (click)="openMenu()">
      <span (click)="openMenu()">{{ActiveProperty?.Name}}</span>
    </div>
    <!-- </ion-col> -->
  </div>
  <!-- <ion-segment [(ngModel)]="manageView" mode="md"
         style="border: none !important;"
         *ngIf="!LineItem.IsView && !isHideSegments && isViewLoaded"
         (ionChange)="segmentChanged($event)">
    <ion-segment-button value="my" >
      <h5 class="asset-list" *ngIf="User.IsPrivateLabelPartner === false">My Stuff</h5>
    </ion-segment-button>
    <ion-segment-button value="wishlist">
      <h5 class="asset-list" *ngIf="User.IsPrivateLabelPartner === false">Wishlist</h5>
    </ion-segment-button>
    <ion-segment-button value="suggested">
      <h5 class="asset-list">Suggestions</h5>
    </ion-segment-button>
  </ion-segment> -->
  <!-- Breadcrumbs -->
  <ng-container *ngIf="!LineItem.IsView && !isHideSegments && isViewLoaded">
    <div class="breadcrumb-main" *ngIf="ProfileItem.Id !== undefined">
      <img src="assets/icon/Home.svg" alt="">
      <span class="bread-arrow-right">></span>
      <span (click)="viewProfileLineItems()">
        {{ProfileItem?.Name}}
      </span>
      <span class="bread-arrow-right">></span>
      <span class="current-page">{{LineItem?.Name}}</span>
    </div>
    <div class="breadcrumb-main" *ngIf="ProfileItem.Id === undefined">{{LineItem?.Name}}</div>
  </ng-container>

  <div *ngIf="LineItem.IsView && !isHideSegments && isViewLoaded">
    <ion-segment [(ngModel)]="dynamicManageView" mode="md" style="border: none !important;" class="asset-lists">
      <ion-segment-button *ngFor="let a of LineItem.View.ViewSegments" (click)="dynamicTabClickHandler(a.Id)"
                          [ngClass]="{'active': dynamicManageView === a.Id}" value="{{a.Id}}">
        <h3 class="asset-list">{{a.Title}}</h3>
      </ion-segment-button>
    </ion-segment>
  </div>
  <!-- </div> -->

</ion-header>
<!-- <ion-content> -->
<div class="container-wrapper">
  <div class="tab-container">
    <app-segment-selector [segments]="views"
                          [initView]="{value: manageView}"
                          *ngIf="ProfileItemImages === undefined || ProfileItemImages === null || ProfileItemImages.length === 0"
                          (selectedSegment)="segmentChanged($event)"
                          style="background-color: #fff;">
    </app-segment-selector>
  </div>
  <div class="item-wrapper">

    <ng-container *ngIf="!LineItem.IsView && !isHideSegments && isViewLoaded">
      <!-- <br style="clear:both;" /> -->
      <div class="accordian-wrapper">
        <div class="filter-wrapper" *ngIf="data?.Lists?.length > 0">
          <span class="filter" (click)="showTagsFilter()">
            <img src="assets/icon/Filter 2.svg" alt="">
            Filter
          </span>
        </div>
        <ion-accordion-group [value]="['first']" [ngClass]="data?.Lists?.length > 0 ? 'main-accordion' : 'hide'">
          <ion-accordion toggleIcon="assets/icon/chevron-down-circle.svg" toggleIconSlot="start" class="main-accordion-content" value="first">
            <ion-item slot="header" class="main-accordion-item">
              <ion-label class="main-accordian-label" *ngIf="data?.Lists?.length > 0">Collapse all</ion-label>

            </ion-item>
            <div *ngIf="data?.Lists.length !== 0 && data?.Lists[0].Items.length !== 0" slot="content">
              <icon-list-grid [_grid]="data" (_itemClickEventHandler)="itemClickEventHandler($event)"></icon-list-grid>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
      <div *ngIf="data?.Lists.length === 0 || data?.Lists[0].Items.length === 0">
        <div class="nothing-notice">
          <!--  -->
          <span>
            <img src="assets/imgs/no-content backup.png" alt="">
          </span>
          <span class="desc">
            <div class="desc-title">There's nothing here yet.</div>
            <span>There's nothing here yet. You need to add items into this list, you can also use the input buttons below to start adding items.</span>
          </span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="LineItem.IsView && !isHideSegments && isViewLoaded">
      <icon-grid [_grid]="data" (_itemClickEventHandler)="itemClickEventHandler($event)"
                 (_lotClickEventHandler)="lotClickEventHandler($event)"></icon-grid>
    </ng-container>
    <ng-container *ngIf="isHideSegments">
      <icon-grid [_grid]="data" (_itemClickEventHandler)="itemClickEventHandler($event)"></icon-grid>
    </ng-container>

  </div>
  <!-- <div class="formWrapper">
    <div class="btnWrapper">
      <ion-button class="continuebtn">Add an Item</ion-button>
    </div>
  </div> -->
</div>
<!-- </ion-content> -->
<tab-menu [ngStyle]="isIos && {'padding-bottom': '1em'}"
          (homeEvent)="goHome()"
          (fileExplorerEvent)="launchFileExplorer()"
          (cameraEvent)="launchCamera()"
          (barcodeEvent)="launchBarcode()"
          (bookmarkEvent)="bookmark()"
          (searchEvent)="search()"></tab-menu>
