//header with icon
.container-wrapper,ion-header{
	background: #F6F8FE;
}
.tab-container{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 9px 24px;
}
.carpet-breadcrumb{
	color: #232C41;
	font-family: Plus Jakarta Sans;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 12.606px; 
	letter-spacing: 0.05px;
	padding: 0 24px;
}
.item-wrapper{
	padding: 9px 24px;
}
.nothing-notice{
	display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
	h3{
		color: #232C41;
		font-family: Plus Jakarta Sans !important;
		font-size: 20px !important;
		font-style: normal;
		font-weight: 600;
		line-height: 12.606px;
		letter-spacing: 0.05px !important;
		text-align: left;
		margin: 0;
	}
	span{
		color: #232C41;
		font-family: Plus Jakarta Sans;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 12.606px;
		letter-spacing: 0.05px;
		
	}
	.nothing-notice-description{
		color: #232C41;
		font-family: Plus Jakarta Sans !important;
		font-size: 15px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: 0.05px;
		margin: 0;
	}
}
