<ng-container *ngIf="type == types[0]">
  <div class="header-title-with-icon">
    <span *ngIf="showBackButton == true">
      <img src="assets/icon/arrow-left-square.svg" (click)="goBack()">
    </span>
    <span class="title-with-img">
      <span>Property Profile Overview</span>
    </span>
    <span class="dummy"></span>
  </div>
</ng-container>
<ng-container *ngIf="type == types[1]">
    <div class="header-title-with-icon">
    <span  *ngIf="showBackButton == true" >
      <img src="assets/icon/arrow-left-square.svg" (click)="goBack()">
    </span>
    <span class="title-with-img">
      <span>{{title}}</span>
    </span>
    <span class="dummy"></span>
  </div>
</ng-container>
