.header-items{
	ion-button{
		margin: 0;
		height: 36px;
	}
}
.formWrapper{
	height: 100%;
	padding: 32px 24px 36px !important;
	.fieldWrapper{
		margin-bottom: 32px !important;
	}
	.btnWrapper{
		margin-top: 178px !important;
		.search-btn{
			--background: #00C566;;
			color: var(--additional-colors-white, #FFF);
			--background-activated: #00C566;
			--background-focused: #00C566;
			--background-hover: #00C566;
		}
	}
}