<ion-header style="border-bottom:2px solid whitesmoke !important; background-color: #232B42;">
  <div class="header-title-with-icon" [ngStyle]="isIos && {'margin-top': '1.4em'}">
    <span (click)="close()">
      <img src="assets/icon/arrow-left-square.svg" />
    </span>
    <span class="title-with-img">
      <span>Search the web</span>
    </span>
    <div class="header-icon">
    </div>
  </div>
</ion-header>

<div class="container-wrapper">
  <div class="formWrapper">
    <div class="fieldWrapper">
      <ion-label>Enter some keywords!</ion-label>
      <div class="inputField">
        <ion-input type="text" [(ngModel)]="keywords" placeholder="Enter keywords"></ion-input>
      </div>
    </div>
    <div class="spacer-oneRem" *ngIf="CurrentView == 'Room'"></div>

    <div class="fieldWrapper" *ngIf="CurrentView == 'Room'">
      <ion-label>What room?</ion-label>
      <div class="inputField">
        <ion-select [(ngModel)]="selectedProfileItem"
                    [compareWith]="compareFn"
                    (ionChange)="getLineitems()"
                    disabled="{{disableProfileItems}}"
                    placeholder="Please select">
          <ion-select-option *ngFor="let profileItem of profileItems" [value]="profileItem">
            {{profileItem.Name}}
          </ion-select-option>
        </ion-select>
        <img _ngcontent-ng-c558513586="" src="assets/icon/Icon - Next.svg" alt="" class="iconSelect">
      </div>
    </div>

    <div class="fieldWrapper">
      <ion-label>What category?</ion-label>
      <div class="inputField">
        <ion-select [(ngModel)]="selectedLineitem" [compareWith]="compareFn" disabled="{{disableLineItems}}" placeholder="Please select">
          <ion-select-option *ngFor="let lineitem of lineitems" [value]="lineitem">
            {{lineitem.Name}}
          </ion-select-option>
        </ion-select>
        <img _ngcontent-ng-c558513586="" src="assets/icon/Icon - Next.svg" alt="" class="iconSelect">
      </div>
    </div>

    <div class="fieldWrapper">
      <ion-label>Where to search?</ion-label>
      <div class="inputField">
        <ion-select [(ngModel)]="searchSource" disabled="{{disableLineItems}}" placeholder="Please select">
          <ion-select-option *ngFor="let source of searchSources" [value]="source">
            {{source}}
          </ion-select-option>
        </ion-select>
      </div>
    </div>
  </div>
  <div class="btnWrapper">
    <ion-button class="search-btn" (click)="search()">Search</ion-button>
  </div>
</div>
