<ion-content class="ion-padding">
	<div style="height:4.75em;"></div>
	<ion-row style="margin-bottom: 20vh;">
		<ion-col size="12" class="ion-text-center">
			<h2 class="welcome-title">Welcome to</h2>
			<img src="https://firebasestorage.googleapis.com/v0/b/itt-content.appspot.com/o/Common%2Fassets%2Fimgs%2Fhorizontal-logo.jpg?alt=media&token=5a7b36a8-33ea-4838-bf48-5c816e8ae785"
				class="logo-img" />
		</ion-col>
	</ion-row>
	<ng-container>
		<ion-grid class="ion-margin-top">
      <ion-row class="ion-margin-top">
				<ion-col size="2"></ion-col>
				<ion-col size="8" class="ion-margin-top">
					<div class="text-center">
						<button (click)="signInAzure()" class="apple-sign-in-btn">
							<ion-row>
								<ion-col size="12" class="sign-in-btn-right-col">
										<span>Login</span>
								</ion-col>
							</ion-row>
						</button>
					</div>
				</ion-col>
				<ion-col size="2"></ion-col>
			</ion-row>
		</ion-grid>
	</ng-container>

</ion-content>
