.main-wrapper{
	padding: 21px 39px 101px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 15px;
	background:#F6F8FE;
	.logo{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.content{
	    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 278px;
		h2{
			color: var(--additional-colors-line-dark, #282837);
			text-align: center;
			font-family: Plus Jakarta Sans !important;
			font-size: 24px !important;
			font-style: normal;
			font-weight: 700;
			line-height: 32px;
			letter-spacing: 0.12px !important;
			margin: 0;
		}
		ion-text{
			color: var(--main-colors-secondary-dark, #1D1D2F);
			text-align: center;
			font-family: Plus Jakarta Sans;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 22px;
			letter-spacing: 0.07px;
			padding: 0 5px;
		}
	}
	.btnWrapper{
		width: 100%;
		margin-top: 45px !important;
		ion-button{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 58px;
			width: 100%;
			--background: #111;
			color: var(--additional-colors-white, #FEFEFE);
			font-family: Plus Jakarta Sans;
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: 26px;
			letter-spacing: 0.09px;
			--border-radius: 0;
			margin: 0;
			--background-activated:#111;
			--background-focused:#111;
		}
	}
}