<ion-content class="ion-padding">
<div class="main-wrapper">
	<div class="logo">
		<img src="assets/imgs/Homeazzon-logo.png" width="79" height="79">
	</div>
	<div class="smart-boy-img">
		<img src="assets/imgs/Smart home-bro.png" alt="">
	</div>
	<div class="content">
		<h2>Start digitizing your home now.</h2>
		<ion-text>Effortlessly document and organise everything that matters within your home.</ion-text>
	</div>
	<div class="btnWrapper">
		<ion-button (click)="signInAzure()">Get Started</ion-button>
	</div>
</div>
</ion-content>
