<app-global-spinner [spinnerText]="spinnerText" *ngIf="loading1Visible"></app-global-spinner>
<ion-header>
    <save-sub-menu title="Attachments" [isShowSave]="false"></save-sub-menu>
</ion-header>
<div class="container-wrapper">
    <div class="formWrapper">
        <div class="main-view" *ngIf="image">
            <img src="{{image}}" />
        </div>
        <div class="fieldWrapper">
            <ion-label>What Type?</ion-label>
            <div class="inputField">
                <ion-select id="metattachTypes" [(ngModel)]="metattachTypeId" interface="action-sheet">
                    <ion-select-option *ngFor="let type of metattachTypes" [value]="type.Id">
                        {{type.Name}}
                    </ion-select-option>
                </ion-select>
                <img class="iconSelect"
                src="assets/icon/Icon - Next.svg" />
            </div>
        </div>
        <div class="fieldWrapper">
        <ion-label>Title</ion-label>
        <div class="inputField">
            <ion-input type="text" [(ngModel)]="title" placeholder="Add a title..." [disabled]="isDisabled" ></ion-input>
        </div>
         </div>
        <div class="fieldWrapper">
        <ion-label>Description / Notes</ion-label>
        <div class="inputField text-area">
            <ion-textarea  [(ngModel)]="notes"  placeholder="Notes..." [disabled]="isDisabled"></ion-textarea>
        </div>
        </div>
    </div>
    <div class="btnWrapper">
        <ion-button class="continuebtn" (click)="save()">Save</ion-button>
    </div>
</div>