page-profile-items {
	.content {
		background: white !important;
	}

	.top_title {
		display: flex;

		.sub_title {
			flex: 1;
			text-align: center;
			font-weight: bold;
			font-size: 2rem;
		}

		.sub_image {
			flex: 4;
			margin: auto;

			img {
				height: 2.2rem;
				padding-left: 0.3rem;
			}

			p {
				text-align: left;
				padding: 0.3rem;
				margin: 0;
				color: black;
			}
		}
	}

	.back-button-text-ios {
		opacity: 0;
	}

	.middle_content {
		display: flex;
		text-align: center;
		border-top: 1px solid #bbb;

		div {
			flex: 1;
			margin: auto;
			font-weight: bold;
		}
	}

	.footer_content {
		display: flex;
		text-align: center;
		border-top: 1px solid #bbb;

		.sub_footer_content {
			flex: 1;
			background: #ddd;
			padding: 0.7rem;

			img {
				height: 3rem;
				margin: auto;
			}
		}
	}

	ol {
		padding: 0;
		list-style: none;
		display: grid;
		grid-auto-flow: column;
		grid-gap: 1rem;
		overflow-x: auto;
		grid-auto-columns: 6rem;
		margin-left: -1rem;
		margin-right: -1rem;

		&::after {
			content: '';
			width: 1rem;
		}

		div {
			li {
				display: grid;
				grid-template-areas: 'image''title''summary';
				grid-gap: 1rem;
				grid-row: 1;
				margin-left: 1rem;

				img {
					grid-area: image;
				}
			}
		}
	}

	.active {
		filter: invert(21%) sepia(100%) saturate(3443%) hue-rotate(104deg) brightness(95%) contrast(107%);
		text-align: center
	}

	.privateLabelerItem {
		color: #33A1DE;
	}

	.mainItem {
		text-align: center;
		color: blue;
	}

	.back-button.show-back-button {
		display: none;
	}
	//new Styles
	.listSet {
		color: black;
		font-size: larger;
	}

	.profile-item-row {
		margin-left: 2rem;
		margin-bottom: 0;
		margin-right: 2rem;
		//max-height: 58px !important;
		min-height: 58px !important;
	}

	.edit-profile-items-icon {
		max-width: .875em !important;
		max-height: .875em !important;
		min-width: .875em !important;
		min-height: .875em !important;
		margin-right: -.3em !important;
	}

	.edit-profile-item {
		float: right !important;
		font-weight: bold;
		margin-right: 2em !important;
		letter-spacing: -.03em !important;
		padding: 0 !important;
		background-color: transparent !important;

		.button-inner {
			font-size: 1.4rem;
		}
	}

	img {
		filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(167deg) brightness(105%) contrast(100%) !important;
	}

	.profile-item-row {
		.col {
			//display: flex;
			//align-items: center;
		}
	}

	.profile-item-content-sq-ft {
		//margin:0;
	}

	.profile-item-content-sq-ft {
		//flex-direction: end;
	}

	.hr {
		margin: 0 18px;
	}

	.profile-item-content-name {
		font-size: large;
		line-height: 1.1em !important;
	}
}
.container-wrapper,ion-header{
	background: #F6F8FE;
}
//header with icon

.header-title-with-icon{
	padding: 24px 24px 24px 27px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 66px;
	background-color: #232B42;
	.title-with-img{
		display: flex;
		align-items: center;
		gap: 12px;
		span{
			color: var(--additional-colors-white, #FEFEFE);
			font-family: Plus Jakarta Sans;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 17.522px;
			letter-spacing: 0.1px;
			white-space: nowrap;
		}
	}
	.header-icon{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		span{
			color: var(--additional-colors-white, #FEFEFE);
			text-align: right;
			font-family: Plus Jakarta Sans;
			font-size: 8px;
			font-style: normal;
			font-weight: 500;
			line-height: 13.478px; 
			letter-spacing: 0.04px;
		}
	}
}
.tab-container{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 14px 24px;
	app-segment-selector{
		width: 100%;
	}
}
.bedroom-content-container{
	padding: 10px 25px;
	.stuff-items{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
		height: 43px;
		border-bottom: 1px solid #E3E7EC;
		margin-bottom: 15px;
		ion-text{
			color: #5681AA;
			font-family: Plus Jakarta Sans;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px; 
			letter-spacing: 0.06px;
		}
		span{
			color: #232B42;
			text-align: right;
			font-family: Plus Jakarta Sans;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px;
			letter-spacing: 0.06px;
		}
		.no-value{
			color: #F00 !important;
		}
	}
}
.optional-item-btn{
    padding: 0px 24px 24px;
	ion-button{
		margin-left: auto;
		display: flex;
		width: 123px;
		height: 40px;
		justify-content: center;
		align-items: center;
		color: #232C41;
		text-align: center;
		font-family: Plus Jakarta Sans;
		font-size: 10px;
		font-style: normal;
		font-weight: 600;
		line-height: 20px;
		letter-spacing: 0.05px;
		--border-radius: 0;
		--background: none;
		border: 1px solid #E3E7EC;
		img{
			margin-right: 5px
		}
	}
}

.no-items-container{
    padding: 0 25px 33px;
    height: calc(100% - 110px);
    display: flex;
    justify-content: space-between;
    align-items: center;
	.no-item-content{
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 24px;
		.desc{
			color: rgba(29, 29, 47, 0.60);
			text-align: center;
			font-family: Plus Jakarta Sans;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 22px; 
			letter-spacing: 0.07px;
			width: 85%;
		}
	}
}
.formWrapper{
    padding: 0 24px 32px !important;
    background-color: unset !important;
	.btnWrapper{
		margin-top: 0 !important;
		align-items: flex-end !important;
		.add-line-item-btn{
			--border-radius: 10.019px !important;
			--background: #FFF !important;
			color: #526EA0 !important;
			text-align: center !important;
			font-family: Plus Jakarta Sans;
			font-size: 12.523px !important;
			line-height: 100% !important;
			letter-spacing: 0.063px !important;
			width: 110px !important;
			height: 50.093px !important;
			box-shadow: none !important;
			img{
				margin-right: 6.65px;
			}
		}
	}
}

.breadcrumb-main{
    height: 38px;
    padding: 12px 12px 12px 24px;
    background: #2E3750;
    margin-top: -1px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #7F879D;
    font-family: Plus Jakarta Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.05px;
	.bread-arrow-right{
		color: #669BBC;
		font-size: 8px;
	}
	.current-page{
		color: #F6F8FE;
		font-weight: 700;
	}
}
