.container-wrapper {
  background: #EBEEF5;
}
//header with icon

.tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 24px;

  app-segment-selector {
    width: 100%;
  }
}

/***************************************** V2 ****************************************/

/* Fixed header styles */
.notifications-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #ddd;
  border-radius: 2px; /* Adjust as needed */
  color: #232B42;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
}

/* Scrollable list */


/* Notification item styles */

/* Unread notification styles */

/* Example of rounded buttons and elements */
.button, .container, .input {
  border-radius: 10px; /* Adjust as needed */
}

/***************************************** V1 ****************************************/
/* Base styles */
.notifications-content-container {
  background-color: #f9f9f9; /* Light grey background */
  border-radius: 4px; /* Rounded corners for the card */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  margin-bottom: 1em; /* Space between cards */
}

/* Typography and colors */
.notifications-content h6 {
  color: #333; /* Dark grey for text */
  font-size: 16px; /* Larger font size for readability */
  margin: 0; /* Reset margins */
  padding: 10px 15px; /* Spacing inside the header */
  background-color: #ececec; /* Lighter grey for the header */
  border-bottom: 1px solid #ddd; /* Separator */
}

.notifications-content p {
  color: #555; /* Slightly lighter text color */
  font-size: 14px; /* Standard font size for content */
  margin: 0;
  padding: 10px 15px; /* Consistent spacing */
}

/* Interactive elements */
.notifications-content a {
  color: #0066cc; /* Blue for links */
  text-decoration: none; /* No underline */
}

.notifications-container {
  padding: 25px 24px;
  ion-item{
    --inner-border-width: 0;
    --padding-start: 0;
    --inner-padding-end: 0;
  }
}
.notifications-content{
  background: #FFF;
  padding: 13px 13px 15px 18px;
  border-radius: 16px;
  height: 103px;
  margin-bottom: 21px;
  overflow: hidden;
  .del-btn{
    background: #ffc3c3;
    width: 24px;
    ion-icon{
      color: #f75c5c;
      font-size: 18px;
    }
  }
}
.notification-details{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
  position: relative;
  width: 100%;
}
.notification-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 11px;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.notification-date {
      color: var(--SQL-Color-4, #788A9C);
      font-family: Plus Jakarta Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.06px;
}
.sender{
  color: #232C41;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; 
  letter-spacing: 0.06px;
}
.unread {
  width: 8px;
  height: 8px;
  border-radius: 50%; 
  display: block;
 background-color: #F75C5C;
 position: absolute;
 right: 0;
}
.notification-type {
  padding: 8px 14px;
  border-radius: 8px;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.06px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.limited-access{
  background: #E3FFF1;
  color: #00C566;
}
.invitation{
  background: #F6F8FE;
  color: #232C41;
}
.denied-case{
  color:#F75C5C;
  background: #FFF1F1;
}
.delete-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 16px;
  height: 103px;
  margin-bottom: 21px;
  overflow: hidden;
  background: #FFF1F1;
  padding: 13px 15px 17px;
  ion-text{
    color: #F75C5C;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; 
  letter-spacing: 0.06px;
  }
  .delete-btns-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    ion-button{
    --border-radius: 8px;
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 0.06px;
    border-radius: 8px;
    margin: 0;
    }
    .cancel{
      color:  #232C41;
      --background: #FFF;
      width: 137px;
    }
    .del{
      --background: #F75C5C;
      color: #FFF;
      width: 151px;
    }
  }
}
.noti-toast{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 999;
  bottom: 32px;
  span{
    width: 157px;
    height: 40px;
    border-radius: 8px;
    background: #FFF;
    color: #232C41;
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.06px;
    text-align: center;
    padding: 8px 14px;
  }
}
.nothing-notice{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;

	.desc{
		color: rgba(29, 29, 47, 0.60);
		text-align: center;
		font-family: Plus Jakarta Sans;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; 
		letter-spacing: 0.07px;
		width: 85%;
	}

	.desc-title {
	 font-weight: 600;
	}
}
