.container-wrapper, ion-header {
  background: #F6F8FE;
}
//header with icon

.header-title-with-icon {
  padding: 24px 24px 24px 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 66px;
  background-color: #232B42;

  .title-with-img {
    display: flex;
    align-items: center;
    gap: 12px;

    span {
      color: var(--additional-colors-white, #FEFEFE);
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 17.522px;
      letter-spacing: 0.1px;
      white-space: nowrap;
    }
  }

  .header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
      color: var(--additional-colors-white, #FEFEFE);
      text-align: right;
      font-family: Plus Jakarta Sans;
      font-size: 8px;
      font-style: normal;
      font-weight: 500;
      line-height: 13.478px;
      letter-spacing: 0.04px;
    }
  }
}

.tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 24px;

  app-segment-selector {
    width: 100%;
  }
}

/***************************************** V2 ****************************************/

/* Fixed header styles */
.notifications-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #ddd;
  border-radius: 2px; /* Adjust as needed */
  color: #232B42;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
}

/* Scrollable list */
.notifications-container {
  max-height: 99%; /* Adjust as needed */
  overflow-y: scroll;
  color: var(--additional-colors-white, #FEFEFE);
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17.522px;
  letter-spacing: 0.1px;
  /*white-space: nowrap;*/
}

/* Notification item styles */
.notification-item {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  padding: 10px;
  border-radius: 2px; /* Adjust as needed */
  color: #232B42;
}

/* Unread notification styles */
.unread {
  font-weight: bold;
  border-left: 3px solid red; /* Or use another property like background-color */
}

/* Example of rounded buttons and elements */
.button, .container, .input {
  border-radius: 10px; /* Adjust as needed */
}

/***************************************** V1 ****************************************/
/* Base styles */
.notifications-content-container {
  background-color: #f9f9f9; /* Light grey background */
  border-radius: 4px; /* Rounded corners for the card */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  margin-bottom: 1em; /* Space between cards */
}

/* Typography and colors */
.notifications-content h6 {
  color: #333; /* Dark grey for text */
  font-size: 16px; /* Larger font size for readability */
  margin: 0; /* Reset margins */
  padding: 10px 15px; /* Spacing inside the header */
  background-color: #ececec; /* Lighter grey for the header */
  border-bottom: 1px solid #ddd; /* Separator */
}

.notifications-content p {
  color: #555; /* Slightly lighter text color */
  font-size: 14px; /* Standard font size for content */
  margin: 0;
  padding: 10px 15px; /* Consistent spacing */
}

/* Interactive elements */
.notifications-content a {
  color: #0066cc; /* Blue for links */
  text-decoration: none; /* No underline */
}

/* Additional styles for specific elements */
.sender {
  color: #2a2a2a; /* Darker text for sender for emphasis */
  font-weight: bold; /* Make sender name bold */
}

.notification-type {
  display: inline-block; /* Align with the date */
  margin-left: 5px;
  color: #2a2a2a; /* Same color for consistency */
  background-color: #d1ecf1; /* Light blue background for notification type */
  border-radius: 2px; /* Rounded edges for type label */
  padding: 2px 6px; /* Tight padding around the type label */
}

.notification-date {
  color: #999; /* Lighter color for less important information */
}

/* Responsive tweaks */
@media (max-width: 600px) {
  .notifications-content-container h6, .notifications-content-container p {
    font-size: 14px; /* Slightly smaller fonts on mobile */
  }
}

.no-items-container {
  padding: 0 25px 33px;
  height: calc(100% - 110px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .no-item-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    .desc {
      color: rgba(29, 29, 47, 0.60);
      text-align: center;
      font-family: Plus Jakarta Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.07px;
      width: 85%;
    }
  }
}

.breadcrumb-main {
  height: 38px;
  padding: 12px 12px 12px 24px;
  background: #2E3750;
  margin-top: -1px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #7F879D;
  font-family: Plus Jakarta Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.05px;

  .bread-arrow-right {
    color: #669BBC;
    font-size: 8px;
  }

  .current-page {
    color: #F6F8FE;
    font-weight: 700;
  }
}
