.formTitle{
	ion-text{
		white-space: nowrap;
	}
}
.formWrapper{
	min-height: calc(100% - 127px);
    padding-bottom: 37px !important;
}
.btnWrapper{
	padding: 0 24px 71px;
    margin-top: 0px !important;
}
