<ion-header>
  <div class="header-title-with-icon">
    <span class="header-icon">
      <div class="cross-icon">
        <img src="assets/icon/Arrow - Left Square.svg" (click)="close()" alt="">
      </div>
    </span>
    <span class="title-with-img">
      <span>Notifications</span>
    </span>
    <span class="empty"></span>
  </div>
</ion-header>
<div class="container-wrapper">
  <div class="notification-wrapper">
    <div class="noti-content" *ngIf="notification.Type == 'Request Authorization'">
      <p>
        On {{notification.Date}} you requested access to {{ notification.PendingAuthorization.Property.Customer.Name}}'s
        property located at {{notification.PendingAuthorization.Property.StreetAddress1}},
        {{notification.PendingAuthorization.Property.City}},{{notification.PendingAuthorization.Property.State}} and the
        status is pending

      </p>
      <br>
      <p>
        You can suggest products to the property clone that has been created for you during the pending status
      </p>
      <br>
      <p>
        When {{ notification.PendingAuthorization.Property.Customer.Name }} makes a decision you will be
        notified.
      </p>
      <br>
      <p>
       Enjoy!
      </p>
    </div>
    <div class="noti-content" *ngIf="notification.Type == 'Invitation'">
      <p>
        On {{ notification.PendingAuthorization.Date }} you invited {{
        notification.PendingAuthorization.Property.Customer.Name}} located at
        {{notification.PendingAuthorization.Property.StreetAddress1}},
        {{notification.PendingAuthorization.Property.City}},{{notification.PendingAuthorization.Property.State}} and the
        status is pending
      </p>
      <br>
      <p>
        You can suggest products to the property clone that has been created for you until the invitation is accepted.
      </p>
      <br>
      <p>
        When {{ notification.PendingAuthorization.Property.Customer.Name}} makes a decision you will be notified.
      </p>
      <br>
      <p>
        Enjoy!
      </p>

    </div>

    <div class="noti-content"
      *ngIf="notification.Type == 'LimitedAccessAreaAccessGranted' || notification.Type == 'LimitedRequestAuthorizationApproved' ">
      <p class="bold">
        Access Notification
      </p>
      <hr>
      <p class="bold">
        Date
      </p>
      <p>
        {{ notification.Date }}
      </p>
      <hr>

      <p [innerHTML]="notification.Message">
      </p>

    </div>
    <div class="noti-content" *ngIf="notification.PrivateLabelClone != null  || notification.PrivateLabelClone != undefined">
      <p *ngIf="notification.Type == 'Auto-Clone-Completed'">
        User Clone Property
      </p>
      <p *ngIf="notification.Type != 'Auto-Clone-Completed'">
        Access Notification
      </p>
      <hr>
      <p>
        Date
      </p>
      <p>
        {{notification.Date}}

      </p>
      <hr>

      <p [innerHTML]="notification.PrivateLabelClone.Message">
      </p>

    </div>
    <div class="noti-content" *ngIf="!notification.PrivateLabelClone && notification.Type == 'Auto-Clone-Completed'"></div>

    <div class="noti-content" *ngIf="notification.Suggestion != null">
      <p class="bold">
        Suggestion
      </p>
      <hr>
      <p class="bold">
        Date
      </p>
      <p>
        {{notification.Date}}

      </p>
      <hr>

      <p [innerHTML]="notification.Suggestion.Message">
      </p>

    </div>
    <div class="noti-content" *ngIf="notification.Type == 'LimitedAccessAreaAccessRemoved'">
      <p class="bold">
        Access Notification
      </p>
      <hr>
      <p class="bold">
        Date
      </p>
      <p>
        {{notification.Date}}
      </p>
      <hr>

      <p [innerHTML]="notification.Message">
      </p>

    </div>
    <div class="noti-content" *ngIf="notification.Type == 'Denied Authorization Request' && notification.DeniedAuthorizationRequest">
      <p class="bold">
        Denied Authorization
      </p>
      <hr>
      <p>
      </p>
      <p>
        {{notification.Date}}

      </p>
      <hr>

      <p>
        You have been been denied authorization for {{notification.PendingAuthorization.Property.StreetAddress1}},
        {{notification.PendingAuthorization.Property.StreetAddress2}},
        {{notification.PendingAuthorization.Property.City}}, {{notification.PendingAuthorization.Property.State}},
        {{notification.PendingAuthorization.Property.Zip}} by
        {{notification.PendingAuthorization.Property.Customer.Name}}
      </p>

    </div>
    <div class="noti-content" *ngIf="notification.Type == 'Denied Authorization Request' && !notification.DeniedAuthorizationRequest"></div>
    <!-- 
  <ion-grid>
    <ion-row>
      <ion-col col-2>

      </ion-col> -->
    <div class="btnWrapper">
      <ion-button class="continuebtn" (click)="close()"> Ok</ion-button>
    </div>
    <!-- <ion-col col-2>

      </ion-col>
    </ion-row>
  </ion-grid> -->
  </div>
</div>
