<ion-header style="background-color: #232B42;">
  <div class="header-title-with-icon" [ngStyle]="isIos && {'margin-top': '2em'}">
    <img src="assets/icon/arrow-left-square.svg" (click)="close()">
    <span class="title-with-img">
      <span>{{propertyName}} Plans</span>
    </span>
    <span class="dummy"></span>
  </div>
</ion-header>

<ion-content class="ion-padding">
	<div *ngFor="let plan of designPlans">
		<div #zoom class="zoom">
			<pdf-viewer [src]="plan.PdfUrl" (after-load-complete)="afterLoadComplete($event, plan)" [render-text]="true" style="display: block;" [show-all]="false" [(page)]="plan.activePage" [original-size]="false" [autoresize]="true" [fit-to-page]="false" [zoom]="plan.zoom"></pdf-viewer>
		</div>
		<ion-row>
			<ion-col col-6>
				<ion-row>
					<ion-col>
						Page {{plan.activePage}}
					</ion-col>
					<ion-col>
						<ion-icon name="remove" (click)="previousPage(plan)"></ion-icon>
					</ion-col>
					<ion-col>
						<ion-icon name="add" (click)="nextPage(plan)"></ion-icon>
					</ion-col>
				</ion-row>
			</ion-col>
			<ion-col col-6>
				<ion-row>
					<ion-col>
						Zoom {{plan.zoom}}
					</ion-col>
					<ion-col>
						<ion-icon name="remove" (click)="zoomReduce(plan)"></ion-icon>
					</ion-col>
					<ion-col>
						<ion-icon name="add" (click)="zoomIncrease(plan)"></ion-icon>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
		<span (click)="viewFullDesign(plan)" class="plan-title">{{plan.Title}}</span>
		<hr>
	</div>

</ion-content>
