<ion-header *ngIf="!addNewRoom">
  <div class="top-ios-space" *ngIf="platform.is('ios')"></div>
  <div class="header-items">
    <span>Add {{areaType}}</span>
    <ion-button class="cancel-btn" (click)="cancel()">Cancel</ion-button>
  </div>
</ion-header>

<div class="container-wrapper" *ngIf="!addNewRoom">
  <div class="formWrapper">
    <div class="fieldWrapper" *ngIf="uiType!='customHouse'">
      <ion-label>Room Type</ion-label>
      <div class="inputField">
        <ion-select
          [(ngModel)]="areaId"
          required
          placeholder="Please select"
          (ngModelChange)="areaSelectionChanged()"
        >
          <ion-select-option *ngFor="let area of areas" [value]="area.Id">
            {{area.Name}}
          </ion-select-option>
        </ion-select>
        <img
          class="iconSelect"
          src="assets/icon/Icon - Next.svg"
          alt=""
        />
      </div>
    </div>
    <div class="fieldWrapper">
      <ion-label>Room Name</ion-label>
      <div class="inputField">
        <ion-input
          [(ngModel)]="roomName"
          type="text"
          placeholder="Enter Name"
        ></ion-input>
      </div>
    </div>

    <div class="fieldWrapper">
      <ion-label>Square Footage</ion-label>
      <div class="inputField">
        <ion-input
          [(ngModel)]="sqFt"
          type="text"
          placeholder="0 Sq Ft"
        ></ion-input>
      </div>
    </div>
  </div>
  <div class="btnWrapper">
    <ion-button class="continuebtn" (click)="saveRoom()">Save</ion-button>
  </div>
</div>

<div *ngIf="addNewRoom" class="add-new-room-wrapper">
  <div class="formWrapper">
  <div class="modal-header">
    <ion-text>Add Custom Room</ion-text>
  </div>
  <div class="fieldWrapper">
    <ion-label>Room name</ion-label>
    <div [class]="!roomName ? 'inputField' : 'inputField field-border'">
      <ion-input
        [(ngModel)]="roomName"
        type="text"
        placeholder="Enter Room Name"
      ></ion-input>
    </div>
  </div>
  <div class="btnWrapper modal-btns">
    <ion-button [class]="!roomName ? 'disabled-btn' : 'modal-add-btn'" (click)="saveRoom()" [disabled]="!roomName">Add</ion-button>
    <ion-button class="modal-cancel-btn" (click)="cancel()">Cancel</ion-button>
  </div>
</div>
</div>


