.container-wrapper{
    background: #F6F8FE;
}

.formWrapper{
    padding: 32px 24px 25px !important;
    .fieldWrapper{
        margin-bottom: 16px !important;
    }
    .btnWrapper{
        margin-top: 330px !important;
        gap: 13px !important;
		ion-button{
			--background-activated:#232B42;
		}
    }
}