<app-global-spinner [spinnerText]="spinnerText" *ngIf="loadingVisible"></app-global-spinner>
<ion-header>
	<navigation-sub-menu [showBackButton]="true" type="logoMenu"></navigation-sub-menu>
</ion-header>
<div class="container-wrapper">
	<!-- Developments View -->
	<div class="formWrapper" *ngIf="showDevelopments">
		<span class="title">Let's start with a development</span>
	
		<div class="lot-main" *ngFor="let d of developments; let i = index">

			<img src="{{d.Url}}">

			<!--<h2 class="development-name">{{d.Name}}</h2>-->
			<div class="btnWrapper">
			<ion-button (click)="peekLots(d)" ion-button class="choose-dev" shape="round" color="dark">Choose: {{d.Name}}</ion-button>
		</div>
		</div>
	</div>
	<!-- Development Lots View -->
	<div class="formWrapper" *ngIf="showLots">
			<span class="title">You Chose&nbsp;<span class="header-text">{{selectedDevelopment.Name}}.</span>&nbsp;Now let's choose a lot.</span>
		<div class="hr"> </div>
		<div *ngFor="let l of lots; let i = index" (click)="viewLotDetails(l.Id)" class="LOT-{{i}}">
			<ion-row>
				<ion-col size="2">
					<img src="assets/svgs/regular/map-pin.svg" class="item-image">
				</ion-col>
				<ion-col size="10">
					<h5 class="lot-name">{{l.LotNumber}} - {{l.StreetAddress1}}</h5>
				</ion-col>
			</ion-row>
			<div class="hr"> </div>
		</div>
	</div>
</div>
