 <div class="container-wrapper">
    <div class="formWrapper">
        <div class="header-interstatial">
            <div class="left">
              <span class="avatar">
                <img src="assets/imgs/user-profile.png" >
              </span>
              <div class="user-info">
                <span class="name">Robert</span>
                <span class="address">Miami, FL</span>
              </div>
            </div>
            <div class="right">
              <img src="assets/imgs/Notification.svg" >
              <img src="assets/imgs/market.svg" >
            </div>
          </div>

          <div class="navigating-path">
            <span>
                <img src="assets/imgs/greater.svg">
                Marketplace & Service
            </span>
          </div>
         
          <div class="market-card-main">
            <div class="card-top">
                <span>Buy and Sell</span>
                <h2>Looking to buy or sell?</h2>
                <ion-text>Search by category, vendor,<br> 
                    or use keywords to find exactly what <br> 
                    you need  with over 30 trusted vendors.</ion-text>
            </div>
            <div class="card-bottom">
                <span class="btnWrapper">
                    <ion-button class="continuebtn" (click)="navigate()">
                        Browse Items
                        <img src="assets/icon/greater-white.svg">
                    </ion-button>
                </span>            
                <span>
                    <img src="assets/imgs/Sofa-cut.png">
                </span>
            </div>
          </div>

          <div class="market-card-main second">
            <div class="card-top">
                <span>Services</span>
                <h2>Need a helping hand? </h2>
                <ion-text>Need movers, handymen, or more? <br> 
                    We connect you with top local pros! <br> 
                    Just tell us what you need.</ion-text>
            </div>
            <div class="card-bottom">
                <span class="btnWrapper">
                    <ion-button class="continuebtn">
                        Browse Services
                        <img src="assets/icon/greater-white.svg">
                    </ion-button>
                </span>            
                <span>
                    <img src="assets/imgs/carten.png">
                </span>
            </div>
          </div>
    </div>
</div>
