.add-new-folder-modal-main{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    .add-modal-title{
        color: #232B42;
        font-family: Plus Jakarta Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 17.522px; 
        letter-spacing: 0.1px;
    }
    ion-text{
        color: rgba(29, 29, 47, 0.60);
        text-align: center;
        font-family: Plus Jakarta Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; 
        letter-spacing: 0.07px;
    }
    .formWrapper{
        padding: 0 !important;
        background-color: unset !important;
        width: 100%;
        .fieldWrapper{
            margin-bottom: 30px !important;
            .inputField{
                background: #F6F8FE !important;
            }
        }
        .btnWrapper{
            margin-top: 0 !important;
            .addRoombtn{
                border: 2px solid #A9CBEC !important;
                --background: rgba(193, 18, 31, 0.00) !important;
                color: #A9CBEC !important;
                --background-activated: rgba(193, 18, 31, 0.00) !important;
            }
        }
    }
}