<ion-header style="border-bottom:2px solid whitesmoke !important;">
  <div class="registration-header">
    <img src="assets/icon/Arrow - Left Square.svg" (click)="close()">
    <span class="registration-title">
      Property Manager
    </span>
  </div>
</ion-header>
<div class="container-wrapper">
  <div class="formWrapper">
    <div class="manager-content" *ngFor="let property of properties;" (click)="editProperty(property)">
      <div class="manager-content-title">
        <div class="manager-content-img">
          <img [src]="property.Image">
        </div>
        <ion-text>
          <ion-col size="4" class="prop-name">{{property.Name}}</ion-col>
          <ion-col size="8" class="address-container">
          <span class="prop-address">{{property.StreetAddress1}}</span>
          <span class="prop-city">{{property.City}}, {{property.State}}, {{property.Country}}</span> 
          </ion-col>
        </ion-text>
      </div>
    </div>
    <div class="home-btn-wrapper">
      <ion-button class="add-property-btn"
                  *ngIf="isOwner"
                  (click)="goToBuildYourGeneral()">
        <img src="assets/icon/building-fill-white.svg" alt="">
        Add New property
      </ion-button>
      <ion-button class="new-reality-btn"
                  *ngIf="isRealtor">
        <img src="assets/icon/person.svg" alt="">
        New Realty Customer
      </ion-button>
    </div>
  </div>
</div>
