<ion-header>
  <div class="header">
    <span (click)="close()">
      <img src="/assets/icon/Arrow - Left Square.svg" alt="" />
    </span>
    <span class="headerTitle">{{title}}</span>
  </div>
</ion-header>
<div class="container-wrapper">
  <div class="formWrapper">
    <div class="fieldWrapper">
      <ion-label>Street Address 1</ion-label>
      <div class="inputField">
        <ion-input type="text"
                   [(ngModel)]="streetAddress1"
                   placeholder="Enter Street Address 1"></ion-input>
      </div>
    </div>
    <div class="fieldWrapper">
      <ion-label>Street Address 2</ion-label>
      <div class="inputField">
        <ion-input type="text"
                   [(ngModel)]="streetAddress2"
                   placeholder="Enter Street Address 2"></ion-input>
      </div>
    </div>
    <div class="fieldWrapper">
      <ion-label>Country</ion-label>
      <div class="inputField">
        <ion-select [(ngModel)]="country" placeholder="Select Country" (ionChange)="onCountryChange()">
          <ion-select-option [value]="0">Select Country</ion-select-option>
          <ion-select-option [value]="country.isoCode" *ngFor="let country of countries; let i = index">
            {{country.name}}
          </ion-select-option>
        </ion-select>
        <img class="iconSelect"
             src="assets/icon/Icon - Next.svg"
             alt="" />
      </div>
      <div class="fieldWrapper">
        <ion-label>State</ion-label>
        <div class="inputField">
          <ion-select [(ngModel)]="state" (ionChange)="onStateChange()" placeholder="Select State">
            <ion-select-option [value]="0">Select State</ion-select-option>
            <ion-select-option [value]="state.isoCode" *ngFor="let state of states; let i = index">
              {{state.name}}
            </ion-select-option>
          </ion-select>
          <img class="iconSelect"
               src="assets/icon/Icon - Next.svg"
               alt="" />
        </div>
      </div>
      <div class="fieldWrapper">
        <ion-label>City</ion-label>
        <div class="inputField">
          <ion-select [(ngModel)]="city" placeholder="Select City">
            <ion-select-option [value]="0">Select City</ion-select-option>
            <ion-select-option [value]="city.name"
                               *ngFor="let city of cities; let i = index">
              {{city.name}}
            </ion-select-option>
          </ion-select>
          <img class="iconSelect"
               src="assets/icon/Icon - Next.svg"
               alt="" />
        </div>
      </div>
  
      <div class="fieldWrapper">
        <ion-label>Zip</ion-label>
        <div class="inputField">
          <ion-input inputmode="numeric"
                     type="number"
                     maxlength="5"
                     (keyup.enter)="continue()"
                     [(ngModel)]="zip"
                     placeholder="Enter Zip"></ion-input>
        </div>
      </div>
    </div>
    
    <div class="fieldWrapper" *ngIf="isOwner">
      <ion-label>
        <i>(enable to receive <u>Suggestions</u> from Friends/Businesses)</i>
      </ion-label>
      <div class="roleWrapper">
        <div class="toggleWrapper">
          <ion-label>Is Public Property</ion-label>
          <ion-toggle [(ngModel)]="isPublicProperty"></ion-toggle>
        </div>
      </div>
    </div>
  </div>
  <div class="btnWrapper">
    <ion-button class="continuebtn" (click)="continue()">
      Continue
    </ion-button>
    <ion-button class="cancelbtn" (click)="close()">Cancel</ion-button>
  </div>
</div>
