<ion-app>
  <ion-split-pane contentId="main-content">
      <!-- Side Menu (top-left) -->
      <ion-menu contentId="main-content" type="overlay" side="start" menuId="mainMenu">
        <div style="height:2em;" *ngIf="platform.is('ios')"></div>
          <div class="main-wrapper">
              <div class="sidebar-wrapper">
                <div class="profile-info">
                    <span class="avatar">
                        <img src="../assets/icon/Profile.svg" alt="">
                    </span>
                    <div class="info">
                        <span class="name">
                            {{userInfo.UserName}}
                        </span>
                        <span class="mail">
                            {{userInfo.Email}}
                        </span>
                    </div>
                </div>
                <div class="menu-list" >
                    <div class="list"  *ngFor="let p of pages" (click)="openPage(p)">
                        <img src="{{p.image}}" width="24" height="24" > 
                        <span>{{p.title}}</span>
                    </div>
                </div>
                <div class="logout" (click)="openPage({ url: 'logout' })">
                    <ion-button>Log Out</ion-button>
                </div>
              </div>
            </div>
      </ion-menu>
      <!-- Property Menu (top-right) -->
      <ion-menu contentId="main-content" type="overlay" side="end" menuId="propertyMenu">
        <div class="main-wrapper">
            <div class="sidebar-wrapper">
                <div class="profile-info">
                    <span class="avatar">
                        <img src="../assets/icon/home-building.svg" alt="">
                    </span>
                    <div class="info">
                        <span class="name">
                            Homes
                        </span>
                        <span class="homes-number">
                            <span>( {{ userProperties?.length }} )</span> Number of homes available
                        </span>
                    </div>
                </div>
                <div class="not-available" *ngIf="!userProperties?.length">
                    <img src="../assets/icon/empty-home.svg" alt="">
                    <ion-text>No home available at the moment</ion-text>
                </div>

                <div class="home-list-wrapper" *ngIf="userProperties?.length > 0">
                    <div class="home-list" *ngFor="let p of userProperties" (click)="viewProperty(p)">
                        <img [src]="p.image" width="24" height="24" >
                        <span> {{p.Name}}</span>
                    </div>
                </div>
                <div class="design-btn">
                    <ion-button (click)="designHome()">Design/ Choose a new home</ion-button>
                </div>
            </div>
        </div>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>