<!-- <ion-header>
	<navigation-sub-menu [showBackButton]="true" type="logoMenu"></navigation-sub-menu>
</ion-header> -->
<ion-header style="border-bottom:2px solid whitesmoke !important; background-color: #232B42;">
	<div class="header-title-with-icon" >
		<span (click)="close()">
			<img src="assets/icon/arrow-left-square.svg" />
		</span>
		<span class="title-with-img">
			<span>Property Profile</span>
		</span>
		<span class="empty">
		</span>
	</div>
</ion-header>
<ion-content>
	<ion-grid class="gridWrapper">
	<ion-row class="custom-card">
		<ion-col>
		  <ion-card class="card-content-container"  (click)="viewDesignPlans()">
			<ion-thumbnail  class="item-img">
				<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fruler-triangle.svg?alt=media&token=be44bb1c-5df7-4321-8714-e1b58029cada" alt="">
			  </ion-thumbnail>
			  <ion-label>
				<h3>Plans</h3>
			  </ion-label>
		  </ion-card>
		</ion-col>
		<ion-col>
		  <ion-card class="card-content-container">
			<ion-thumbnail  class="item-img">
				<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fimage.svg?alt=media&token=bee92977-f32b-4c44-bb7f-4b877c83cd53" alt="">
			  </ion-thumbnail>
			  <ion-label>
				<h3>Image/<br>Renderings</h3>

			  </ion-label>
		  </ion-card>
		</ion-col>
	  </ion-row>
	  <ion-row class="custom-card">
		<ion-col>
		  <ion-card class="card-content-container"  (click)="viewDesignPlans()">
			<ion-thumbnail class="item-img">
				<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fbox.svg?alt=media&token=76fab8dd-eafa-47ff-ad3b-5861971eef94" alt="">
			  </ion-thumbnail>
			  <ion-label>
				<h3>Interactive Models</h3>
			  </ion-label>
		  </ion-card>
		</ion-col>
		<ion-col>
		  <ion-card class="card-content-container">
			<ion-thumbnail class="item-img">
				<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fhome.svg?alt=media&token=f8feaa4d-be27-45b2-ab8e-2f176d6a5259" alt="">
			  </ion-thumbnail>
			  <ion-label>
				<h3>Home Profile</h3>
			  </ion-label>
		  </ion-card>
		</ion-col>
	  </ion-row>
	</ion-grid>
</ion-content>
  
  
<ion-footer>
	<ion-row>
		<ion-col size="6">
		</ion-col>
		<ion-col size="6">
			<div class="CHOOSE-HOME" (click)="chooseHome()">
				<ion-button class="choose-btn" shape="round" color="primary">Choose Home</ion-button>
			</div>
		</ion-col>
	</ion-row>
</ion-footer>