.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
  min-height: calc(100% - 93px);
  overflow-y: auto;

  .list-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 42px;
    border-bottom: 1px solid #E3E7EC;
    gap: 15px;

    .img-section {
      height: 24px;
      width: 24px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        filter: invert(72%) sepia(7%) saturate(2935%) hue-rotate(178deg) brightness(97%) contrast(94%);
      }
    }

    ion-text {
      font-family: Plus Jakarta Sans;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
      color: #111;
      font-style: normal;
    }
  }
}

.btnWrapper {
  margin-top: 0 !important;
  padding: 0 24px;
  padding-bottom: 37px;
}

.header-title-with-icon{
	padding: 24px 24px 24px 27px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 66px;
	background-color: #232B42;
	.title-with-img{
		display: flex;
		align-items: center;
		gap: 12px;
		span{
			color: var(--additional-colors-white, #FEFEFE);
			font-family: Plus Jakarta Sans;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 17.522px;
			letter-spacing: 0.1px;
			white-space: nowrap;
		}
	}
	.header-icon{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		span{
			color: var(--additional-colors-white, #FEFEFE);
			text-align: right;
			font-family: Plus Jakarta Sans;
			font-size: 8px;
			font-style: normal;
			font-weight: 500;
			line-height: 13.478px; 
			letter-spacing: 0.04px;
		}
	}
}
