<app-global-spinner [spinnerText]="spinnerText" *ngIf="loadingVisible"></app-global-spinner>
<ion-header style="background-color: #232B42;">
  <div class="header-title-with-icon" [ngStyle]="isIos && {'margin-top': '2em'}">
    <img src="assets/icon/arrow-left-square.svg" (click)="close()">
    <span class="title-with-img">
      <span>Property Profile Overview</span>
    </span>
    <span class="dummy"></span>
  </div>
</ion-header>
<div class="container-wrapper">
  <div class="formWrapper">
    <div class="list-content" (click)="viewDesignPlans()">
      <span class="img-section">
        <img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fruler-triangle.svg?alt=media&token=be44bb1c-5df7-4321-8714-e1b58029cada" class="item-image">
      </span>
      <ion-text>Plans</ion-text>
    </div>
    <div class="list-content" (click)="viewPropertyImages()">
      <span class="img-section">
        <img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fimage.svg?alt=media&token=bee92977-f32b-4c44-bb7f-4b877c83cd53" class="item-image">
      </span>
      <ion-text>Image/Renderings</ion-text>
    </div>
    <div class="list-content" (click)="viewInteractiveModels()">
      <span class="img-section">
        <img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fbox.svg?alt=media&token=76fab8dd-eafa-47ff-ad3b-5861971eef94" class="item-image">
      </span>
      <ion-text>Interactive Models</ion-text>
    </div>
    <div class="list-content" (click)="viewPropertyOverview()">
      <span class="img-section">
        <img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fhome.svg?alt=media&token=f8feaa4d-be27-45b2-ab8e-2f176d6a5259" class="item-image">
      </span>
      <ion-text>Home Profile</ion-text>
    </div>
  </div>
  <div class="btnWrapper">
    <ion-button class="continuebtn" (click)="chooseHome()">Choose Home</ion-button>
  </div>
</div>
