
<app-global-spinner [spinnerText]="spinnerText" *ngIf="loadingVisible"></app-global-spinner>

<ion-header style="background-color: #232B42;">
	<div class="header" [ngStyle]="isIos && {'margin-top': '2em'}">
	  <span (click)="goBack()">
		<img src="/assets/icon/arrow-left-square.svg" alt="" />
	  </span>
	  <span class="headerTitle backtitle" (click)="goBack()"> Back </span>
	</div>
  </ion-header>
<div class="container-wrapper">
	<div class="formWrapper">
		<div class="formTitle">
			<ion-text>Almost done! lets select some exterior areas</ion-text>
		</div>
		<div class="roleWrapper">
			<div class="toggleWrapper">
				<ion-label (click)="showExterior()">Skip</ion-label>
			</div>

			<div *ngIf="!isSkipExteriorAreas" >
				<div class="roles" *ngFor="let exterior of exteriors; let i=index">
					<ion-checkbox (ionChange)="addCheckbox($event,exterior.Id)" [(ngModel)]="exterior.enabled"  mode="ios"></ion-checkbox>
        			<ion-text [ngClass]="{'mypad-green': exterior.enabled}" >{{exterior.Name}}</ion-text>
				</div>
			</div>
		</div>
	</div>
	<div class="btnWrapper">
		<ion-button class="continuebtn" (click)="saveProperty()">
			Save Property</ion-button
		>
	  </div>
</div>
