<!-- Maintenancelist showing -->
<ion-header style="background-color: #232B42;">
  <div class="header-title-with-icon">
    <span>
      <img src="/assets/icon/arrow-left-square.svg"
      (click)="close()" />
    </span>
    <span class="title-with-img">
      <span>Maintenancelist</span>
    </span>
  </div>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list lines="none" *ngFor="let item of maintenanceList" class="custom-list">
    <ion-item class="custom-item">
      <ion-label class="custom-label">
        <strong class="person-name">{{ item.maintenancePerson }}</strong><br /><br />
        <ion-note color="medium" class="notes-label">
          {{ item.notes }}
        </ion-note>
      </ion-label>
      <div slot="end">
        <ion-note color="medium">{{ item.date_time }}</ion-note>
        <ion-icon color="custom-icon" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
  
  <div class="add-contact-container">
    <div *ngIf="maintenanceList.length === 0" class="inner-wrapper wrapper-height">
      <span>There's nothing here yet.</span>
      <span>Add a new maintenance now!</span>
    </div>
    <div class="btnWrapper">
      <ion-button class="btnWrapper" id="open-modal">
        Add +
      </ion-button>
    </div>
  </div>
  <!-- Add maintenanceList model -->
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header style="background-color: #232B42;">
        <div class="header-title-with-icon">
          <span>
            <img (click)="closeModal()" src="/assets/icon/arrow-left-square.svg" />
          </span>
          <span class="title-with-img">
            <span>Add Maintenance</span>
          </span>
        </div>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="formWrapper wrapper-height">
          <div class="fieldWrapper">
            <ion-label>Date/Time</ion-label>
            <div class="inputField">
              <ion-datetime-button datetime="datetime" color="success" class="datetime">
              </ion-datetime-button>
            </div>
          </div>
          <div class="fieldWrapper">
            <ion-label>Maintenance person</ion-label>
            <div class="inputField">
              <!-- Use [(ngModel)] to bind maintenancePerson -->
              <ion-input required type="text" [(ngModel)]="maintenancePerson"></ion-input>
            </div>
          </div>
          <div class="fieldWrapper">
            <ion-label>Note:</ion-label>
            <div class="inputField">
              <!-- Use [(ngModel)] to bind notes -->
              <ion-input required type="text" [(ngModel)]="notes"></ion-input>
            </div>
          </div>
          <div class="fieldWrapper">
            <ion-label>Follow-up:</ion-label>
            <div class="inputField">
              <ion-input type="date" (ionChange)="calculateDateDifference()" [(ngModel)]="selectedDate"></ion-input>
            </div>
            <div class="months-weeks" *ngIf="showMonthsWeeks">
              <ion-label>No of Weeks away:&nbsp;<strong>{{ weeksAway }}</strong></ion-label><br />
              <ion-label>No of Months away:<strong>{{ monthsAway }}</strong></ion-label>
            </div>
          </div>
          <ion-button class="btnWrapper" (click)="addmaintenancelist()" [disabled]="!isValidForm()">
            Save
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        [showDefaultTitle]="true"
        id="datetime"
        display-format="MMM DD, YYYY h:mm A"
        pickerFormat="MMM DD, YYYY h:mm A"
        [(ngModel)]="selectedDatetime"
        [showDefaultButtons]="true"
        [showDefaultTimeLabel] = "true">
        <span slot="title">Select a Date</span>
      </ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>