.header-title-with-icon {
    padding: 24px 184px 24px 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 66px;
    background-color: #232B42;
}
.btnWrapper {
    padding: 25px 24px;
    margin-top: 100px !important;
}
/* maintenancelist.page.scss */
ion-item {
    background-color: #f5f5f5;
    margin: 5px;
    border-radius: 10px;
 .notes-label {
   --color: #555 !important;
  }
  }
  .datetime{
    padding: 10px !important;
  }
  .iontext{
    -color:#555 !important;
  }
.months-weeks{
    display: inline;
}
  
  

  

  
  