.formWrapper{
	height: 100%;
	ion-col{
		padding: 0;
	}
}
.btnWrapper{
	margin-top: 190px !important;
	padding-bottom: 20px;
}
.ng-invalid.ng-touched {
	border: none!important;
	color: #9CA4AB !important;
}

