<app-global-spinner [spinnerText]="spinnerText" *ngIf="loading1Visible"></app-global-spinner>
<ion-header style="background-color: #232B42;">
  <div class="header" [ngStyle]="isIos && {'margin-top': '2em'}">
    <span (click)="goBack()">
      <img src="/assets/icon/arrow-left-square.svg" alt="" />
    </span>
    <span class="headerTitle backtitle" (click)="goBack()"> Back </span>
  </div>
</ion-header>
<div class="container-wrapper">
  <div class="formWrapper">
    <div class="formTitle">
      <ion-text>{{title}}</ion-text>
      <span>Build your Home</span>
    </div>

    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="fieldWrapper">
          <ion-label>Name your home design</ion-label>
          <div class="inputField">
            <ion-input type="text"
                       [(ngModel)]="property.Name"
                       placeholder="Enter name"
                       required></ion-input>
          </div>
        </div>
      </ion-col>

      <ion-col size="12" class="ion-no-padding">
        <div class="fieldWrapper">
          <ion-label>Number of levels</ion-label>
          <app-number-input [(value)]="property.TotalStories"></app-number-input>
        </div>
      </ion-col>

      <ion-col size="12" class="ion-no-padding">
        <div class="fieldWrapper">
          <ion-label>Square Footage</ion-label>
            <app-number-input [(value)]="property.SqFt"></app-number-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isEditingProperty && isOwner">
      <div class="fieldWrapper">
        <ion-label>
          <i>(to load first on the dashboard)</i>
        </ion-label>
        <div class="roleWrapper">
          <div class="toggleWrapper">
            <ion-label>Is Default</ion-label>
            <ion-toggle [(ngModel)]="isDefault"></ion-toggle>
        </div>
        </div>
      </div>
    </ion-row>
    <ion-row *ngIf="isEditingProperty && isRealtor">
      <div class="fieldWrapper">
        <ion-label>
          <i>(to request access to make <u>Suggestions</u>)</i>
        </ion-label>
        <div class="roleWrapper">
          <div class="toggleWrapper">
            <ion-label>Link with Customer</ion-label>
          <ion-toggle [(ngModel)]="isLinkWithCustomer"></ion-toggle>
        </div>
        </div>
      </div>
      <ion-col size="12" class="ion-no-padding" *ngIf="isLinkWithCustomer || isExistingLinkWithCustomer">
        <div class="fieldWrapper">
          <ion-label>Customer Name</ion-label>
          <div class="inputField">
            <ion-input type="text"
                       [(ngModel)]="customerName"
                       placeholder="Enter name"></ion-input>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-no-padding" *ngIf="isLinkWithCustomer || isExistingLinkWithCustomer">
        <div class="fieldWrapper">
          <ion-label>Customer Email</ion-label>
          <div class="inputField">
            <ion-input type="text"
                       [(ngModel)]="customerEmail"
                       placeholder="Enter name"></ion-input>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="btnWrapper">
    <ion-button class="continuebtn" (click)="goToBedroomsPage()">
      Continue
    </ion-button>
  </div>
</div>
