<app-global-spinner [spinnerText]="spinnerText" *ngIf="loadingVisible"></app-global-spinner>
<ion-header style="background-color: #232B42;">
  <div class="header-title-with-icon" [ngStyle]="isIos && {'margin-top': '2em'}">
    <span (click)="close()">
      <img src="assets/icon/arrow-left-square.svg" >
    </span>
    <span class="title-with-img">
      <span>{{lot.StreetAddress1}}</span>
    </span>
    <span class="dummy"></span>
  </div>
</ion-header>
<div class="container-wrapper">
  <div class="formWrapper">
    <div class="header-div">
      <pdf-viewer [src]="lot.LotPlanUrl"
                  (after-load-complete)="afterLoadComplete($event)"
                  [render-text]="true"
                  style="display: block;"
                  [show-all]="false"
                  [(page)]="activePage"
                  [original-size]="false"
                  [autoresize]="true"
                  [fit-to-page]="false"
                  [zoom]="zoom"></pdf-viewer>
      <div class="counter">
        <div class="counter-inner">
          <span> Page</span>
            <span>
              <img src="assets/icon/minus-square.svg" (click)="previousPage()">
            </span>
            <span class="value">
              {{activePage}}
            </span>
            <span>
              <img src="assets/icon/Plus-square.svg" (click)="nextPage()">
            </span>
        </div>
        <div class="counter-inner">
          <span> Zoom</span>
            <span>
              <img src="assets/icon/minus-square.svg" (click)="zoomReduce()">
            </span>
            <span class="value">
               {{zoom}}
            </span>
            <span>
              <img src="assets/icon/Plus-square.svg" (click)="zoomIncrease()">
            </span>
        </div>
      </div>

    </div>
    <div class="content-div">
          <div class="list-main">
            <span>Description:</span>
            <ion-text>{{lot.LegalDescriptionNumber}}</ion-text>
          </div>
          <div class="list-main">
            <span >Price:</span>
            <ion-text>${{lot.Price | number}}</ion-text>
          </div>
          <div class="list-main">
            <span>Lot #:</span>
            <ion-text>{{lot.LotNumber}}</ion-text> 
          </div>
          <div class="list-main">
            <span>Address:</span>
            <ion-text>{{lot.StreetAddress1}},{{lot.City}}, {{lot.State}},{{lot.Zip}}</ion-text>
          </div>
          <div class="list-main">
            <span>Parcel:</span>
            <ion-text>{{lot.ParcelNumber}}</ion-text>
          </div>
          <div class="list-main">
            <span>Lot Size(acres):</span>
            <ion-text>{{lot.LotSize}}</ion-text>
          </div>
          <div class="list-main">
            <span>Water Source:</span>
            <ion-text>
              {{lot.WaterSource}}
            </ion-text>
          </div>
          <span class="lot-link" (click)="viewLotPlan()">
            View Lot Plan
          </span>
      <div *ngIf="lot.WaterSource == 'Well'">
        <div class="list-main">
          <span>Approximate Depth(ft):</span>
          <ion-text>{{lot.WellApproximateDepth}}</ion-text> 
        </div>
        <div class="list-main">
          <span>Approximate Cost: </span>
          <ion-text>${{lot.WellApproximateCost | number}}</ion-text> 
        </div>
      </div>
      <div *ngIf="lot.WaterSource == 'WaterTap'">
        <div class="list-main">
          <span>Hook-Up Cost:</span>
          <ion-text>${{lot.WaterTapHookupFee | number}}</ion-text> 
        </div>
      </div>
      <div class="list-main">
        <span>Waste Water:</span>
        <ion-text *ngIf="lot.IsWasteWaterSewerAndTap == true">Sewer/Tap</ion-text>
        <ion-text *ngIf="lot.IsWasteWaterSewerAndTap != true">Septic System</ion-text>
      </div>
      <div *ngIf="lot.IsWasteWaterSewerAndTap == true">
        <div class="list-main">
          <span>Hook-Up Fee Estimated Cost:</span>
          <ion-text>${{lot.WasteWaterSewerAndTapEstimateCost | number}}</ion-text>
        </div>
      </div>
      <div *ngIf="lot.IsWasteWaterSewerAndTap != true">
        <div class="list-main">
          <span>Drain Field estimated cost:</span>
          <ion-text>${{lot.WasteWaterSepticSystemDrainFieldEstimatedCost | number}}</ion-text>
        </div>
        <div class="list-main">
          <span>Dose Tanks estimated cost:</span>
          <ion-text>${{lot.WasteWaterSepticSystemDoseTanksEstimatedCost | number}}</ion-text>
        </div>
      </div>
      <div>
        <div class="list-main">
          <span> Power Supply:</span>
          <ion-text *ngIf="lot.IsPowerElectricalHookup == true">Electrical</ion-text>
          <ion-text *ngIf="lot.IsPowerOffGrid == true">Off-Grid</ion-text>
        </div>
      </div>
      <div *ngIf="lot.IsPowerElectricalHookup == true">
        <div class="list-main">
          <span>Electrical hookup power lines brought to lot? :</span>
          <ion-text *ngIf="lot.IsPowerElectricalPowerlinesSupplied == true">Yes</ion-text>
          <ion-text *ngIf="lot.IsPowerElectricalPowerlinesSupplied != true">No</ion-text>
        </div>
        <div *ngIf="lot.IsPowerElectricalPowerlinesSupplied != true">
          <div class="list-main">
            <span>Electrical Trenching Estimated Cost:</span>
            <ion-text>${{lot.PowerElectricalTrenchingEstimateCost | number}}</ion-text>
          </div>
          <div class="list-main">
            <span>Electrical Permit Estimated Cost:</span>
            <ion-text>${{lot.PowerElectricalPermitEstimatedCost | number}}</ion-text>
          </div>
          <div class="list-main">
            <span>Electrical Utilities Estimated Cost:</span>
            <ion-text>${{lot.PowerElectricalTemporaryUtilitiesEstimatedCost | number}}</ion-text>
          </div>
        </div>
      </div>
      <div *ngIf="lot.IsPowerOffGrid == true">
        <div class="list-main">
          <span>Off-Grid Estimated Cost:</span>
          <ion-text>${{lot.PowerOffGridEstimatedCost | number}}</ion-text>
        </div>
      </div>
      <div>
        <div class="list-main">
          <span> Cable:</span>
          <ion-text *ngIf="lot.IsCable == true">Yes</ion-text>
          <ion-text *ngIf="lot.IsCable != true">No</ion-text>
        </div>
      </div>
    </div>
  </div>
  <div class="btnWrapper">
    <ion-button class="continuebtn" (click)="saveProperty()">Choose This Lot</ion-button>
  </div>
</div>
