<ion-header>
	<navigation-sub-menu [showBackButton]="true" type="logoMenu"></navigation-sub-menu>
</ion-header>
<div class="container-wrapper">
	<div class="new-home-wrapper">
		<div class="home-inner-main">
			<ion-text>Great Choice! Now let's get your home on a lot</ion-text>
			<div class="home-img">
				<img src="assets/imgs/home-img.png" alt="">
			</div>
		</div>

		<div class="btnWrapper">
			<ion-button class="continuebtn" (click)="goToDevelopmentsPage()"> Choose a Lot
			</ion-button>
			<ion-button class="continuebtn" (click)="gotomyownlot()">
				I Have My Own Lot
			</ion-button>
		</div>
	</div>
</div>