.new-home-wrapper {
    overflow-y: auto;
    padding: 30px 29px 0px 28px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
    flex-direction: column;
    background: #F6F8FE;

    .cross-icon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }

    .home-inner-main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        ion-text {
            color: var(--additional-colors-black, #111);
            text-align: center;
            font-family: Plus Jakarta Sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: -0.66px;
        }
    }
}