.mainWrapper{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    background:#F6F8FE;
	.content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0 72px;
        gap: 21px;
        .logged-text{
            display: flex;
            padding: 4px 16px;
            justify-content: center;
            align-items: center;
            background: #E6F9F0;
            width: 100%;
            ion-text{
                color: var(--alerts-success, #00C566);
                text-align: center;
                font-family: Plus Jakarta Sans;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px; 
                letter-spacing: 0.06px;
            }
        }

	}
	ion-spinner {
		--color: #232C41;
		width: 70px;
		height: 70px;
		margin-top: 239px;
	  }

}