.formWrapper{
    min-height: calc(100% - 95px);
    display: flex;
    align-items: center;
    justify-content: center;
    .inner-main{
        display: flex;
        align-items: center;
        justify-self: center;
        padding: 0 24px;
        flex-direction: column;
        gap: 20px;
    }
    .header-text {
        font-family: Plus Jakarta Sans ;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.03em;
        text-align: center;
        color: #111111;
    
    }
    .info-text {
        font-family: Plus Jakarta Sans !important;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.005em;
        text-align: center;
        color: #111111;
        margin: 0;
    }
}
.btnWrapper{
    margin-top: 50px !important;
}
.header-title-with-icon{
	padding: 24px 24px 24px 27px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 66px;
	background-color: #232B42;
	.title-with-img{
		display: flex;
		align-items: center;
		gap: 12px;
		span{
			color: var(--additional-colors-white, #FEFEFE);
			font-family: Plus Jakarta Sans;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 17.522px;
			letter-spacing: 0.1px;
			white-space: nowrap;
		}
	}
	.header-icon{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		span{
			color: var(--additional-colors-white, #FEFEFE);
			text-align: right;
			font-family: Plus Jakarta Sans;
			font-size: 8px;
			font-style: normal;
			font-weight: 500;
			line-height: 13.478px; 
			letter-spacing: 0.04px;
		}
	}
}
