<app-global-spinner [spinnerText]="spinnerText" *ngIf="loadingVisible"></app-global-spinner>
<ion-header>
	<navigation-sub-menu [showBackButton]="true" type="logoMenu"></navigation-sub-menu>
</ion-header>
<div class="container-wrapper">
	<div class="formWrapper">
		<div class="inner-main">
			<img src="assets/imgs/congrates.svg" alt="">
			<span class="header-text">Congratulations!</span>
			<p class="info-text">You're all setup. Now let's get to work on your dream home.</p>

			<div class="btnWrapper">
				<ion-button class="continuebtn" (click)="gotoMainPage()">Show me my home!</ion-button>
			</div>
		</div>
	</div>
</div>