<ion-header>
  <div class="header">
    <span (click)="goBack()">
      <img src="/assets/icon/Arrow - Left Square.svg" alt="" />
    </span>
    <span class="headerTitle backtitle" (click)="goBack()"> Back </span>
  </div>
</ion-header>

<ion-content class="ion-padding" #content>
  <div class="formWrapper">
    <div class="formTitle">
      <ion-text>What about common areas?</ion-text>
    </div>
    <ion-row lines="none">
      <ion-col size="12" *ngFor="let interior of interiors">
        <div class="fieldWrapper">
          <ion-label>{{interior.Name}}</ion-label>
          <app-number-input [(value)]="interior.Quantity"></app-number-input>
        </div>
      </ion-col>
    </ion-row>

	<div class="btnWrapper">
		  <ion-button class="addRoombtn" (click)="addRoom()">
			<img src="assets/icon/addbtn.svg" alt="">	
			Add a room
		</ion-button>
		<ion-button class="continuebtn" (click)="continue()">
		  Continue</ion-button
		>
	  </div>
  </div>
</ion-content>
