.formWrapper{
	min-height: calc(100vh - 249px);
}
.formTitle{
	align-items: flex-start !important;
    padding-left: 11px;
	ion-text{
		white-space: nowrap;
	}
}

.btnWrapper{
	margin-top: 0px !important;
    gap: 13px !important;
    padding: 0px 24px 54px;
}

