<ion-header style="background-color: #232B42;">
  <div class="header" [ngStyle]="isIos && {'margin-top': '2em'}">
    <span (click)="goBack()">
      <img src="/assets/icon/arrow-left-square.svg" alt="" />
    </span>
    <span class="headerTitle backtitle" (click)="goBack()"> Back </span>
  </div>
</ion-header>

<div class="container-wrapper" #content>
  <div class="formWrapper">
    <div class="set-property-title">
      <ion-text>Set your property</ion-text>
    </div>
    <div class="property-wrapper">
      <div *ngFor="let interior of interiors">
        <span class="custom-room-wrapper" *ngIf="interior.customRoom">{{interior.customRoom}}</span>
        <div class="property-content">
          <ion-label>{{interior.Name}}</ion-label>
          <div class="counter-wrapper">
            <span class="counter-icons" ><img src="assets/icon/minus-square.svg" (click)="changeValue('decrement', interior)"></span>
            <span [class]="interior.Quantity === 0 ? 'counter-value' : 'counter-value greater-value'">
              <span>{{interior.Quantity}}</span>
            </span>
            <span class="counter-icons"><img src="assets/icon/Plus-square.svg" (click)="changeValue('increment', interior)"></span>            
          </div>
        </div>
      </div>
      <div class="btnWrapper add-custom-wrapper">
        <ion-button class="custom-room-btn" (click)="addRoom()">       
        Add Custom Room
      </ion-button>
      </div>
    </div>
  </div>
	<div class="btnWrapper">
		<ion-button class="continuebtn" (click)="continue()">
		  Continue</ion-button
		>
	  </div>
</div>
