.sc-ion-modal {
	top: 20%;
	left: 10%;
	width: 80%;
	height: 50%;
	border-radius: 20px;
}

h3 {
	font-size: larger !important;
	margin-left: 2rem !important;
	color: var(--ion-color-grey);
}

.input-label {
	margin-left: 1em;
}

form.ng-invalid.ng-touched {
	border: none !important;
    color: black !important;
}

form.ng-valid.ng-touched{
	border: none !important;
	color: black !important;
}

p.ion-text-danger{
	margin-left: 1.25em !important;
}

textarea{
	padding-top: 0.45em !important;
	line-height: 1em;
}

.ion-text-center{
	text-align: center !important;
}


.header-items{
	flex-direction: row-reverse !important;
	span{
		white-space: nowrap;
		width: 165px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
.add-contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 100%;
    padding: 25px 24px;
	.btnWrapper{
		margin-top: 0px !important;
	}
}
.wrapper-height{
	min-height: calc(100vh - 269px);
	width: 100%;
}
.inner-wrapper{
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	span{
		color: rgba(29, 29, 47, 0.60);
		text-align: center;
		font-family: Plus Jakarta Sans;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0.07px;
	}
}
.formWrapper{
	padding-bottom: 0 !important;
}
.send-mail-wrapper{
	min-height: calc(100% - 106px) !important;
}
.save-btn-wrapper{
	padding: 0 24px 25px !important;
    margin-top: 25px !important;
}