<ion-header>
	<div class="top-ios-space" *ngIf="platform.is('ios')"></div>
		<div class="header-items">
				<ion-button (click)="cancel()">
					Cancel
				</ion-button>
				<span>{{this.ActiveItem.Name}}</span>
		</div>
</ion-header>

<div class="container-wrapper">
	<ng-container *ngIf="view!='send-email'">
		<div *ngIf="!doesContactExist" class="add-contact-container">
			<div class="inner-wrapper">
				<span>There's nothing here yet.</span>
				<span>Add a new contact now!</span>
			</div>
			<div class="btnWrapper">
				<ion-button class="addRoombtn" (click)="showContactForm()">
					Add +
				</ion-button>
				<ion-button class="continuebtn" *ngIf="view == 'read-only'" (click)="showEditView()">			
						Edit	
				</ion-button>
			</div>


		</div>
		<div class="formWrapper" *ngIf="view == 'add-edit'">
			<div class="fieldWrapper">
				<ion-label>Current Contacts</ion-label>
				<div class="inputField">
					<ion-select [(ngModel)]="contactInformationId" required (ngModelChange)="onContactInformationChanged()">
						<ion-select-option *ngFor="let contact of contacts" [value]="contact.Id">
							{{contact.Name}}
						</ion-select-option>
					</ion-select>
					<img class="iconSelect" src="assets/icon/Icon - Next.svg" />
				</div>
			</div>

			<div class="fieldWrapper">
				<ion-label>Person/Business Name:</ion-label>
				<div class="inputField">
					<ion-input [(ngModel)]="contactInformation.Name" required type="text"></ion-input>
				</div>
			</div>
			<div class="fieldWrapper">
				<ion-label>Phone:</ion-label>
				<div class="inputField">
					<ion-input [(ngModel)]="contactInformation.Phone" required type="tel"></ion-input>
				</div>
			</div>
			<div class="fieldWrapper">
				<ion-label>Email:</ion-label>
				<div class="inputField">
					<ion-input [(ngModel)]="contactInformation.Email" type="email"></ion-input>
				</div>
			</div>
			<div class="fieldWrapper">
				<ion-label>Website:</ion-label>
				<div class="inputField">
					<ion-input [(ngModel)]="contactInformation.Website" type="url"></ion-input>
				</div>
			</div>
			<div class="fieldWrapper">
				<ion-label>Notes:</ion-label>
				<div class="inputField">
					<ion-input [(ngModel)]="contactInformation.Notes" type="text"></ion-input>
				</div>
			</div>
		</div>
		<div *ngIf="view == 'read-only' && doesContactExist">
			<ion-row>
				<ion-col size="12">
					<h1 class="mypad-green">
						{{contactInformation?.Name}}
					</h1>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="contactInformation?.Phone !== undefined">
				<ion-col size="12">
					<h4>
						{{contactInformation?.Phone}}
					</h4>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="contactInformation?.Email !== undefined">
				<ion-col size="12">
					<h4>
						{{contactInformation?.Email}}
					</h4>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="12">
					<h4>
						{{contactInformation?.Website}}
					</h4>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="12">
					<h5>
						{{contactInformation?.Notes}}
					</h5>
				</ion-col>
			</ion-row>
		</div>
		<ion-row *ngIf="doesContactExist">
			<ion-col size="4">
				<h1 class="mypad-green">
					<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fsms.svg?alt=media&token=0e0b78d9-5645-4b81-b60e-e0110848b0c3"
						 class="left-icon" (click)="text()"
						 style="margin-top: .5em !important; height: 1em !important;" />
				</h1>
			</ion-col>
			<ion-col size="4">
				<h1 class="mypad-green">
					<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fmobile-alt.svg?alt=media&token=508fc96e-55dd-4f9f-bb56-2b7ce156f745"
						 class="left-icon" (click)="call()"
						 style="margin-top: .5em !important; height: 1em !important;" />
				</h1>
			</ion-col>
			<ion-col size="4">
				<h1 class="mypad-green">
					<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffont-awesome%2Fregular%2Fmail-bulk.svg?alt=media&token=5c5e573d-78b2-42fe-9b30-6691b149d894"
						 class="left-icon" (click)="email()"
						 style="margin-top: .5em !important; height: 1em !important;" />
				</h1>
			</ion-col>
		</ion-row>

		<div class="btnWrapper save-btn-wrapper" *ngIf="view == 'add-edit'">
			<ion-button class="continuebtn"  (click)="saveContactInformation()">				
					Save
			</ion-button>
			
		</div>
	</ng-container>
	<ng-container *ngIf="view=='send-email'">
		<div class="formWrapper send-mail-wrapper">
		<form [formGroup]="sendEmailForm">
			<!-- <ion-row> -->
				<div class="fieldWrapper">
					<ion-label>From</ion-label>
					<div class="inputField">
						<ion-input formControlName="From" type="email"></ion-input>
					</div>
					<p class="ion-text-danger" *ngIf="From.touched && From.invalid">Required field</p>
				</div>
				<div class="fieldWrapper">
					<ion-label>To</ion-label>
					<div class="inputField">
						<ion-input formControlName="To" type="email"></ion-input>
					</div>
					<p class="ion-text-danger" *ngIf="To.touched && To.invalid">Required field</p>
				</div>
				<div class="fieldWrapper">
					<ion-label>Subject</ion-label>
					<div class="inputField">
						<ion-input type="text" formControlName="Subject"></ion-input>
					</div>
					<p class="ion-text-danger" *ngIf="Subject.touched && Subject.invalid">Required field</p>
				</div>
				<div class="fieldWrapper">
					<ion-label>Message</ion-label>
					<div class="inputField">
						<ion-textarea type="text" formControlName="Message"></ion-textarea>
					</div>
					<p class="ion-text-danger" *ngIf="Message.touched && Message.invalid">Required field</p>
				</div>
			<!-- </ion-row> -->
		</form>
	</div>
	<div class="btnWrapper save-btn-wrapper"  *ngIf="view == 'send-email'">
		<ion-button class="continuebtn" (click)="sendEmail()">
				Send
		</ion-button>
		
	</div>
	</ng-container>
</div>