ion-header,
.adjusted-ion-row {
  width: 100% !important;
}

ion-content {
  background: #F6F8FE;
}

.active {
  filter: invert(21%) sepia(100%) saturate(3443%) hue-rotate(104deg) brightness(95%) contrast(107%);
}

//new Styles
.listSet {
  color: black;
  font-size: larger;
}

.scroll-content {
  background-color: var(--ion-color-white-background) !important;
  padding-right: 16px;
  padding-left: 16px;

  .scroll-content {
    padding: 0;

    .col {
      padding: 0;
    }
  }
}
.room-list{
  .profile-items-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 19px;
    border-bottom: 1px solid #E3E7EC;
    margin: 0 18px;
    ion-text{
      color: #5681AA;
      font-family: Plus Jakarta Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 200% */
      letter-spacing: 0.06px;
      text-transform: capitalize;
    }
    span{
      color: #F00;
      text-align: right;
      font-family: Plus Jakarta Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 200% */
      letter-spacing: 0.06px;
    }
  }
}
.listUnset {
  color: red;
  font-size: larger;
}

.property-name {
  text-align: center;
  margin-bottom: 0 !important;
}

.sqft-holder {
  font-weight: bold;
  font-size: large;
  margin: 0;
}

.dashboard-header {
  opacity: 1;
  text-align: center;
}

.hr {
  border-bottom: 2px solid var(--ion-color-light-grey);
  width: 100% !important;
  margin: 0 !important;
}

.profile-item-row {
  margin-left: 2rem;
  margin-bottom: 0;
  margin-right: 2rem;
  min-height: 58px !important;
}


.profile-item-content-sq-ft {
  float: right;
  font-family: "Silka-Bold" !important;
}

.ng-valid.ng-touched {
  border: none !important;
}

.top-row {
  margin-bottom: 0 !important;
  height: 3.5em;
}

.edit-text {
  color: black;
}
.rename-btn{
  display: flex;
  width: 134px;
  height: 31px;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid #E3E7EC;
  background: transparent;
  margin-top: 28px;
  float: right;
  margin-right: 18px;
  img{
    margin-right: 5px;
  }
  span{
    color: #111;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
    letter-spacing: 0.05px;
    white-space: nowrap;
  }
}

.top-icon-bar {
  background-color: #232B42 !important;
  height: 110px;
}

.main-wrapper {
  padding: 10px 24px 0;
  overflow-y: auto;

  ion-content {
    --background: transparent !important;
  }

  :is(.wrap-rooms, .wrap-exteriors) {
    margin-top: 35px;

    .inner-wrap {
      display: flex;
      flex-direction: column;
      gap: 7px;
      padding-bottom: 41px;


      .area-list {
        width: 100%;
        height: 71px;
        flex-shrink: 0;
        border-radius: 5px;
        border: 1px solid #E3E7EC;
        background: #FFF;
        padding: 5px 18px;

        .wrap-img {
          width: 100%;
          height: 52px;
          flex-shrink: 0;
          border-radius: 3px;
          background: #A8CBE9;
          padding: 7px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 38px;
            height: 38px;
            flex-shrink: 0;
          }
        }

        .area-header {
          margin: 0;
          color: var(--additional-colors-black, #111);
          font-family: Plus Jakarta Sans !important;
          font-size: 18px !important;
          font-style: normal;
          font-weight: 800;
          line-height: 24px;
          letter-spacing: 0.09px !important;

          span {
            color: var(--additional-colors-black, #111);

            font-family: Plus Jakarta Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.08px;
          }
        }

        .area-header-sqft {
          color: #F00;
          font-family: Plus Jakarta Sans !important;
          font-size: 10px !important;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;
          letter-spacing: 0.05px !important;
          margin: 0;
        }

        .wrap-toggle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;

          img {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
          }

        }
      }

      .total-sq {
        display: flex;
        width: 128px;
        padding: 9.872px 19.745px;
        justify-content: center;
        align-items: center;
        gap: 9.872px;
        border: 1.234px solid #E3E7EC;
        margin-top: 57px;

        h2 {
          color: #111;
          font-family: Plus Jakarta Sans !important;
          font-size: 14.809px !important;
          font-style: normal;
          font-weight: 500;
          line-height: 24.681px;
          letter-spacing: 0.074px !important;
          margin: 0;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .container-add-btn {
  margin-top: 284px;
  width: 100%;
    .add-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 0 0;
      height: 56px;
      border: 1px solid #E3E7EC;
      --background: #FFF; 
      width: 100%;
      color: #5681AA;
      text-align: center;
      font-family: Plus Jakarta Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; 
      letter-spacing: 0.08px;
      margin: 0;
      img{
        margin-right: 7px;
      }
    }
  }
    .wrap-items{
      display: flex;
      align-items: center;
      justify-content: end;
      flex-direction: column;
      height: 100%;
      .items-wrapper{
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
        width: 100%;
        margin-top: 85px;
        .items-img-section{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 180px;
          ion-text{
            color: rgba(29, 29, 47, 0.60);
            text-align: center;
            font-family: Plus Jakarta Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; 
            letter-spacing: 0.07px;
          }
        }
      }
    }
}
::ng-deep{
  .wrap-items{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    flex-direction: column;
    min-height: calc(100vh - 233px) !important;
    .icon-grid-container{
      width: 100%;
      icon-grid{
        width: 100%;
        ion-accordion-group{
          .item-main-wrapper{
            margin-top: 35px !important;
          }
          .see-wrapper{
            position: relative;
          }
        }
      }
    }
    .container-add-btn{
      margin-top: 40px !important;
      padding-bottom: 41px !important;
    }
  }
}
