.header{
	gap: 70px !important;
}
.results-wrapper{
	padding: 26px 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 12px;
	background: #F6F8FE;
	.result-content-wrapper{
		padding: 15px 14px 26.481px 20px;
		justify-content: flex-end;
		background: #FFF;
		gap: 17px;
		display: flex;
		align-items: flex-start;
	
		.result-thumbnail{
			width: 90px;
			height: 90px;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
			.no-image{
				width: 24px !important;
				height: 24px !important;
			}
		}
		.amamzon-thumbnail{
			img{
				height: 100%;
				width: 100%;				
			}
		}
		.youtube-thumbnail{
			height: unset !important;
		}
		.result-content{
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 5px;
			flex-direction: column;
			width: 192px;
			.result-content-title{
				color: var(--grayscale-grayscale-70, #78828A);
				font-family: Plus Jakarta Sans;
				font-size: 12px;
				font-style: normal;
				font-weight: 600;
				line-height: 22px;
				letter-spacing: 0.06px;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;				
			}
			.result-content-price{
				color: #039E40;
				font-family: Plus Jakarta Sans;
				font-size: 14.933px;
				font-style: normal;
				font-weight: 800;
				line-height: 27.378px; 
				letter-spacing: 0.075px;
			}
			.result-content-description{
				color: var(--grayscale-grayscale-70, #78828A);
				font-family: Plus Jakarta Sans;
				font-size: 8px;
				font-style: normal;
				font-weight: 400;
				line-height: 13px; 
				letter-spacing: 0.24px;
			}
		}
		.web-result-content{
			width: 100% !important;
		}
	}
}